{%- from '../../../modules/_heading.njk' import heading -%}

<div class="p-products">
  <section class="p-productsHeading">
    {{ heading(
      introduction = 'Product',
      title = '製品情報一覧',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-productsContent">
    <div class="p-productsContent__bgSquare u-d-flex">
      <div class="p-productsContent__bgSquareBlue"></div>
      <div class="p-productsContent__bgSquareRed"></div>
    </div>
    <div class="p-productsContent__items">
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_spot@2x.jpg" alt="ポット溶接機">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">スポット溶接機</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">NDZシリーズ</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">下腕調整式NDZシリーズ</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">NDZ-GSZシリーズ</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_gun@2x.jpg" alt="溶接ガン">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">溶接ガン</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">サーボスポットCガン</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">サーボスポットXガン</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">ポータブルガン</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_projection@2x.jpg" alt="プロジェクション溶接機">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">プロジェクション溶接機</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">NPOシリーズ</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">コンデンサ式</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">三相整流式 NRP3シリーズ</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_seam@2x.jpg" alt="シーム溶接機">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">シーム溶接機</a></p>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_senyou@2x.jpg" alt="専用溶接機">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">専用溶接機</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">自動車・二輪業界</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">家電・住宅・産業機器業界</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">鉄道車両業界</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">鉄鋼業界</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">航空機業界</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/products/product_automatic@2x.jpg" alt="自動供給装置">
        </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">自動供給装置</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">ナット用</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">ボルト用</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_seigyo@2x.jpg" alt="抵抗溶接制御装置">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">抵抗溶接制御装置</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">自立型 スポット溶接機用/シーム溶接機用 単相交流式</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">自立型 スポット溶接機用/シーム溶接機用 直流インバータ式</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">自立型 スポット溶接機用/シーム溶接機用 交流インバータ式</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">ロボット統合型 スポット溶接機用</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">PC用アプリケーション</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/products/product_trance@2x.jpg" alt="抵抗溶接用トランス">
        </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">抵抗溶接用トランス</a></p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">マルチトランス</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              <span class="u-link-hoverLine__text">ポータブルトランス</span>
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <a href="">
          <div class="p-productsContent__imgWrap">
            <img src="/img/images/products/product_heat_not_burn@2x.jpg" alt="">
          </div>
        </a>
        <p class="p-productsContent__itemHeading"><a href="">抵抗加熱装置・計測器・関連機器</a></p>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/products/product_composite@2x.jpg" alt="接合機器">
        </div>
        <p class="p-productsContent__itemHeading">接合機器</p>
      </div>
    </div>
  </section>
</div>
