{%- from '../../../modules/_heading.njk' import heading -%}

<div class="p-products">
  <section class="p-productsHeading">
    {{ heading(
      introduction = 'Product',
      title = '製品情報一覧',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-productsContent">
    <div class="p-productsContent__bgSquare u-d-flex">
      <div class="p-productsContent__bgSquareBlue"></div>
      <div class="p-productsContent__bgSquareRed"></div>
    </div>
    <div class="p-productsContent__items">
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">スポット溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              下腕調整式NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZ-GSZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">溶接ガン</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              サーボスポットCガン
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              サーボスポットXガン
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ポータブルガン
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_03.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">プロジェクション溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NPOシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              コンデンサ式
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              三相整流式 NRP3シリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">シーム溶接機</p>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">専用溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自動車・二輪業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              家電・住宅・産業機器業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄道車両業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄鋼業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              航空機業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>          
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_03.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">自動供給装置</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ナット用
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ボルト用
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">抵抗溶接制御装置</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自立型 スポット溶接機用/シーム溶接機用 単相交流式
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自立型 スポット溶接機用/シーム溶接機用 直流インバータ式
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自立型 スポット溶接機用/シーム溶接機用 交流インバータ式
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ロボット統合型 スポット溶接機用
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              PC用アプリケーション
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>                          
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">抵抗溶接用トランス</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              マルチトランス
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ポータブルトランス
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>                        
        </div>
      </div>  
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_03.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">抵抗加熱装置・計測器・関連機器</p>
      </div>   
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">抵抗加熱装置・計測器・関連機器</p>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">接合機器</p>
      </div>                     
    </div>
  </section>
</div>
