{%- from '../../../modules/_heading.njk' import heading -%}

<div class="p-products">
  <section class="p-productsHeading">
    {{ heading(
      introduction = 'Product',
      title = '製品情報一覧',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-productsContent">
    <div class="p-productsContent__bgSquare u-d-flex">
      <div class="p-productsContent__bgSquareBlue"></div>
      <div class="p-productsContent__bgSquareRed"></div>
    </div>
    <div class="p-productsContent__items">
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">スポット溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              下腕調整式NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZ-GSZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">シーム溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              横型シーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              縦型シーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ロボットシーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ロボットシーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_03.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">専用溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自動車・二輪業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              家電・住宅　産業機器業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄道車両業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄鋼業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">スポット溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              下腕調整式NDZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              NDZ-GSZシリーズ
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_02.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">シーム溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              横型シーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              縦型シーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ロボットシーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              ロボットシーム溶接機
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
      <div class="p-productsContent__item">
        <div class="p-productsContent__imgWrap">
          <img src="/img/images/product_03.png" alt="">
        </div>
        <p class="p-productsContent__itemHeading">専用溶接機</p>
        <div class="p-productsContent__itemLinkWrap">
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              自動車・二輪業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              家電・住宅　産業機器業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄道車両業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
          <p class="p-productsContent__itemLink">
            <a class="m-productLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple" href="">
              鉄鋼業界
              <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
