<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>モック画面一覧</title>
    <link rel="stylesheet" type="text/css" href="{{ data.root }}css/common.css">
  </head>
  <body>
    <header>
      <h1 class="title">モック画面一覧</h1>
    </header>
    {% set pages = [
      {
        name: 'トップ',
        href: '/pages/top/'
      },
      {
        name: '車体軽量化ソリューション',
        href: '/pages/weight-saving-solution/'
      },
      {
        name: '脱炭素ソリューション',
        href: '/pages/decarbonization-solution/'
      },
      {
        name: 'DXソリューション',
        href: '/pages/dx-solution/'
      },
      {
        name: '会社案内',
        href: '/pages/company/'
      },
      {
        name: 'トップメッセージ',
        href: '/pages/company/top-message/'
      },
      {
        name: 'SDGsへの取り組み',
        href: '/pages/company/sdgs/'
      },
      {
        name: 'Q&A',
        href: '/pages/faq/'
      },
      {
        name: 'ケーススタディ',
        href: '/pages/case-study/'
      },
      {
        name: '製品情報(一覧)',
        href: '/pages/products/'
      }
    ] %}
    <nav>
      <h2>ページ一覧</h2>
      <ul>
        {% for page in pages %}
          <li>
            <a href="{{page.href}}">{{page.name}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </body>
</html>
