{%- from '../../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../../modules/_heading.njk' import heading -%}

<div class="p-downloads">
  <section class="p-downloadsHeading">
    {{ heading(
      introduction = 'Download',
      title = 'ダウンロードページ',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-downloadsCatalog">
    <P class="p-downloadsCatalog__introduction">
      必要な資料を選択してダウンロードしてください。
    </P>
    {# <div class="p-downloads__headingWrap">
      {{ sectionLogo(
        usecase="sectionheading"
      ) }}
      <h2 class="p-downloads__heading">製品カタログ</h2>
    </div>
    <div class="p-downloads__accordionWrap">
      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-opened" data-toggle="accordion" data-target="#downloadsCatalog1">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog1" class="p-downloads__accordionContentWrap is-opened" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/NDZ-Series-Stationary-spot-welders_catalog@2x.png" alt="NDZシリーズ/下腕調整式NDZシリーズ">
            </div>
            <a href="/img/pdfs/products/NDZ-Series-Stationary-spot-welders_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(1.18 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/NDZ-GSZ-Series-Stationary-spot-welders-01_catalog@2x.png" alt="NDZ-GSZシリーズ・単相交流式">
            </div>
            <a href="/img/pdfs/products/NDZ-GSZ-Series-Stationary-spot-welders-01_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple"  target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(1.18 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/NDZ-GSZ-Series-Stationary-spot-welders-02_catalog@2x.png" alt="NDZ-GSZシリーズ・直流インバータ式/交流インバータ式">
            </div>
            <a href="/img/pdfs/products/NDZ-GSZ-Series-Stationary-spot-welders-02_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">NDZ-GSZシリーズ・直流インバータ式/交流インバータ式</span>
                <span class="u-d-inline-block">(964 KB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog2">
          プロジェクション溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog2" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/NPO-Series-Single-Phase-ACtype-Projection-Welders_catalog@2x.png" alt="NPOシリーズ・単相交流式">
            </div>
            <a href="/img/pdfs/products/NPO-Series-Single-Phase-ACtype-Projection-Welders_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">NPOシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(1.18 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog3">
          シーム溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog3" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Robot-Seam-Welder_catalog@2x.png" alt="ロボットシーム溶接機">
            </div>
            <a href="/img/pdfs/products/Robot-Seam-Welder_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">ロボットシーム溶接機</span>
                <span class="u-d-inline-block">(1.15 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog4">
          自動供給装置
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog4" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Automatic-Feeder_catalog@2x.png" alt="ナット用・振動式ナットフィーダ/コンパクトナットフィーダ ボルト用・振動式ボルトフィーダ/コンパクトボルトフィーダ">
            </div>
            <a href="/img/pdfs/products/Automatic-Feeder_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">ナット用・振動式ナットフィーダ/コンパクトナットフィーダ<br>ボルト用・振動式ボルトフィーダ/コンパクトボルトフィーダ</span>
                <span class="u-d-inline-block">(2.01 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog5">
          抵抗溶接制御装置
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog5" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/MFDC-type-Weld-Controller-1000Series_catalog@2x.png" alt="自立型 スポット溶接機用/シーム溶接機用 直流インバータ式・1000型シリーズ">
            </div>
            <a href="/img/pdfs/products/MFDC-type-Weld-Controller-1000Series_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">自立型 スポット溶接機用/シーム溶接機用 直流インバータ式・1000型シリーズ</span>
                <span class="u-d-inline-block">(902 KB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog6">
          抵抗溶接用トランス
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog6" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Transformer-for-Multiple-Spot-welding-Machine_catalog@2x.png" alt="マルチトランス・タップチェンジャー/タップレス/ハーフタイプ">
            </div>
            <a href="/img/pdfs/products/Transformer-for-Multiple-Spot-welding-Machine_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">マルチトランス・タップチェンジャー/タップレス/ハーフタイプ</span>
                <span class="u-d-inline-block">(1.08 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog7">
          抵抗加熱装置・計測器・関連機器
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog7" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Hand-held-weld-scope-WS-100_catalog@2x.png" alt="ハンディ溶接計測器 WS-100">
            </div>
            <a href="/img/pdfs/products/Hand-held-weld-scope-WS-100_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">ハンディ溶接計測器 WS-100</span>
                <span class="u-d-inline-block">(355 KB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog8">
          接合機器
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog8" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Metal-resin-joining-machine_catalog@2x.png" alt="樹脂金属接合機">
            </div>
            <a href="/img/pdfs/products/Metal-resin-joining-machine_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">樹脂金属接合機</span>
                <span class="u-d-inline-block">(1.89 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="/img/images/products/Fiber-Laser-Welding_catalog@2x.png" alt="ファイバーレーザシステム">
            </div>
            <a href="/img/pdfs/products/Fiber-Laser-Welding_catalog.pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine__text">ファイバーレーザシステム</span>
                <span class="u-d-inline-block">(4.63 MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>
    </div> #}
  </section>

  <section class="p-downloadsDimensions">
    <div class="p-downloads__headingWrap">
      {{ sectionLogo(
        usecase="sectionheading"
      ) }}
      <h2 class="p-downloads__heading">外形図</h2>
    </div>
    <div class="p-downloads__accordionWrap">
      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-opened" data-toggle="accordion" data-target="#downloadsDimensions1">
          溶接ガン
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions1" class="p-downloads__accordionContentWrap is-opened" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">サーボスポットCガン</p>
            <div class="p-downloads__accordionContent">
              <a href="/wordpress/wp-content/themes/dengensha/assets/pdf" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">アルミ溶接用Cガン</span>
                  <span class="u-d-inline-block">(141KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions2">
          プロジェクション溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions2" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NPOシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">NPOシリーズ</span>
                  <span class="u-d-inline-block">(103KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">コンデンサ式</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">NICP-050</span>
                  <span class="u-d-inline-block">(223KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18" target="_blank">
                <p>
                  <span class="u-link-hoverLine__text">NICP-075</span>
                  <span class="u-d-inline-block">(263KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">NICP-100</span>
                  <span class="u-d-inline-block">(274KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">NICP-150</span>
                  <span class="u-d-inline-block">(279KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>                          
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions3">
          自動供給装置
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions3" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">ナット用</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">振動式ナットフィーダ</span>
                  <span class="u-d-inline-block">(100KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">コンパクトナットフィーダ</span>
                  <span class="u-d-inline-block">(91KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">ボルト用</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">振動式ボルトフィーダ</span>
                  <span class="u-d-inline-block">(117KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">コンパクトボルトフィーダ</span>
                  <span class="u-d-inline-block">(104KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions4">
          抵抗加熱装置・計測器・関連機器
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions4" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">水冷装置</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">CU-4003</span>
                  <span class="u-d-inline-block">(45KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">CU-8006</span>
                  <span class="u-d-inline-block">(40KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple" target="_blank">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine__text">CU-12007</span>
                  <span class="u-d-inline-block">(42KB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="p-downloadsReturnWrap">
    <a href="" class="p-downloadsReturn u-link-button u-link-button--000">
      製品一覧
    </a>
  </div>
</div>
