{%- from '../../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../../modules/_heading.njk' import heading -%}

<div class="p-downloads">
  <section class="p-downloadsHeading">
    {{ heading(
      introduction = 'Download',
      title = 'ダウンロードページ',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-downloadsCatalog">
    <P class="p-downloadsCatalog__introduction">
      必要な資料を選択してダウンロードしてください。
    </P>
    <div class="p-downloads__headingWrap">
      {{ sectionLogo(
        usecase="sectionheading"
      ) }}
      <h2 class="p-downloads__heading">製品カタログ</h2>
    </div>
    <div class="p-downloads__accordionWrap">
      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-opened" data-toggle="accordion" data-target="#downloadsCatalog1">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog1" class="p-downloads__accordionContentWrap is-opened" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・直流インバータ式​/交流インバータ式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog2">
          プロジェクション溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog2" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・直流インバータ式​/交流インバータ式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog3">
          テキストテキスト
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog3" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・直流インバータ式​/交流インバータ式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog4">
          テキストテキスト
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog4" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・直流インバータ式​/交流インバータ式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsCatalog5">
          テキストテキスト
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsCatalog5" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZシリーズ/下腕調整式NDZシリーズ</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・単相交流式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
          <div class="p-downloads__accordionContent">
            <div>
              <img src="http://placehold.jp/100x100.png" alt="">
            </div>
            <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
              <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
              <p>
                <span class="u-link-hoverLine--text">NDZ-GSZシリーズ・直流インバータ式​/交流インバータ式</span>
                <span class="u-d-inline-block">(00MB)</span>
              </p>
              <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-downloadsDimensions">
    <div class="p-downloads__headingWrap">
      {{ sectionLogo(
        usecase="sectionheading"
      ) }}
      <h2 class="p-downloads__heading">外形図</h2>
    </div>
    <div class="p-downloads__accordionWrap">
      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-opened" data-toggle="accordion" data-target="#downloadsDimensions1">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions1" class="p-downloads__accordionContentWrap is-opened" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">コンデンサ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">下腕調整式NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZ-GSZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions2">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions2" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">コンデンサ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">下腕調整式NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZ-GSZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions3">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions3" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">コンデンサ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">下腕調整式NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZ-GSZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions4">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions4" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">コンデンサ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">下腕調整式NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZ-GSZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="p-downloads__accordion">
        <div class="p-downloads__accordionToggle is-closed" data-toggle="accordion" data-target="#downloadsDimensions5">
          スポット溶接機
          <img src="/img/icons/icon-purple-chevron-down.svg" class="p-downloads__accordionLogo--closed" alt="" width="14" height="8">
          <img src="/img/icons/icon-purple-chevron-up.svg" class="p-downloads__accordionLogo--opened" alt="" width="14" height="8">
        </div>
        <div id="downloadsDimensions5" class="p-downloads__accordionContentWrap is-closed" style="">
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">コンデンサ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">下腕調整式NDZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
          <div class="p-downloads__accordionContentSeries">
            <p class="p-downloads__accordionContentSeriesTitle">NDZ-GSZシリーズ</p>
            <div class="p-downloads__accordionContent">
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">単相交流式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">直流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
              <a href="" class="p-downloads__accordionContentText u-link-hoverLine u-link-hoverLine--purple">
                <img src="/img/icons/icon-question.svg" alt="" width="20" height="18">
                <p>
                  <span class="u-link-hoverLine--text">交流インバータ式</span>
                  <span class="u-d-inline-block">(00MB)</span>
                </p>
                <img src="/img/icons/icon-link-chevron-right.svg" class="p-downloads__accordionChevron" alt="" width="7" height="14">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="p-downloadsReturnWrap">
    <a href="" class="p-downloadsReturn u-link-button u-link-button--000">
      戻る
    </a>
  </div>
</div>
