{%- from '../../../modules/_section-logo.njk' import sectionLogo -%}
<div class="p-solution p-solution--decarbonization">
  <section class="p-solutionHeading p-solutionHeading--otherSolution">
    <p class="p-solutionHeading__solution u-font-condensed">Solution</p>
    <p class="p-solutionHeading__sub">溶接時のエネルギーを1/3に低減</p>
    <h1 class="p-solutionHeading__main">脱炭素ソリューション</h1>
  </section>
  <section class="p-solutionIntroduction">
    <div class="p-solutionIntroduction__squareWrap u-text-center">
      <div class="p-solutionIntroduction__square--red"></div>
      <div class="p-solutionIntroduction__square--blue"></div>
      <img class="u-show--pc p-solutionIntroduction__img" src="{{ data.root }}img/images/solution-visual-decarbonization.jpg" alt="">
      <img class="u-show--sp p-solutionIntroduction__img" src="{{ data.root }}img/images/solution-visual-decarbonization.jpg" alt="">
    </div>
    <div class="p-solutionIntroduction__textWrap">
      <h2 class="p-solutionSectionHeading">カーボンニュートラルの実現</h2>
      <p class="p-solutionExplainText">
        政府は2050年までに温室効果ガスの排出を全体としてゼロにする、カーボンニュートラルを目指すことを宣言しました。<br>
        カーボンニュートラルの実現に向けて工場設備としても低消費電力の製品が求められるようになっております。
      </p>
    </div>
  </section>
  <section class="p-solutionTask">
    <div class="p-solutionTaskColorBlock"></div>
    <div>
      <div class="p-solutionTask__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionTaskHeading p-solutionSectionHeading">車体組み立て工程の現状</h2>
      <p class="p-solutionTaskText p-solutionExplainText">
        自動車の車体組み立て工程では鋼板に溶接ナットや溶接ボルトをプロジェクション溶接するために多数のスポット溶接機やパーツフィーダが使用されております。<br>
        このプロジェクション溶接用の設備は大電流を流す必要が有るため、比較的消費電力の大きい設備であると言えます。
      </p>
    </div>
  </section>
  <section class="p-solutionMain p-solutionMain--decarbonization">
    <div class="p-solutionMain__logo">
      <img src="{{ data.root }}img/images/solution-logo.png" alt="SOLUTION">
    </div>
    <div>
      <div class="p-solutionMain__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionMainHeading p-solutionSectionHeading">電元社トーアのソリューション</h2>
      <div class="p-solutionMain__topContents">
        <img class="p-solutionMain__topContentImage" src="{{ data.root }}img/images/solution-main-decarbonization.jpg" alt="">
        <div class="p-solutionMain__topContent">
          <p class="p-solutionMain__topContentHeading">コンデンサ式溶接機(CDW)</p>
          <p class="p-solutionMain__topContentText">
            ナットのプロジェクション溶接では、上下の電極間でパネルとナットを挟みその間に溶接電流と呼ばれる電流を流します。それによりナットの突起(プロジェクション)が発熱しナットとパネルが溶接されます。<br>
            通常の単相交流式溶接機(AC)を使用した場合では、溶接する際に溶接電流10kA前後、通電時間0.1～0.2秒前後流す必要が有ります。溶接時の消費電力を削減するためにはナットの突起部分で発熱した熱が周囲のパネルや電極に熱伝導により吸収されてしまう前に溶接を完了させれば良いわけです。このような際に使用できるのがコンデンサ式溶接機(CDW)となります。
          </p>
        </div>
      </div>
      <p class="p-solutionMain__middleText">
        コンデンサ式溶接機はコンデンサにエネルギーを充電しておき、溶接の際に短時間で大電流を流すことが可能です。ナットの溶接であれば0.01秒未満の通電時間となり、溶接部以外への熱伝導が少ないため溶接後にナットに触れることが出来るくらいです。溶接強度が同等となる溶接条件で単相交流式溶接機と比べた場合にコンデンサ式溶接機はおよそ1/3のエネルギーで溶接が可能でした。<br>
        また、フィーダについても従来の振動式フィーダが100～200W程度の消費電力であるのに対して回転式のコンパクトフィーダでは40W未満の低消費電力となっております。<br>
        電元社トーアではこれらの製品でカーボンニュートラルに貢献していきます。
      </p>
    </div>
  </section>
  <section class="p-solutionProductWrap">
    <div class="p-solutionProduct">
      <h2 class="p-solutionProductHeading">関連製品</h2>
      <ul class="p-solutionProductList u-d-flex">
        <li class="p-solutionProductItem">
          <p>
            <a href="" class="p-solutionProductLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
              <span>コンデンサ式NDZ</span>
            </a>
          </p>
        </li>
        <li class="p-solutionProductItem">
          <p>
            <a href="" class="p-solutionProductLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
              <span>コンパクトフィーダ</span>
            </a>
          </p>
        </li>
        <li class="p-solutionProductItem">
          <p>
            <a href="" class="p-solutionProductLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
              <span>LinearWave</span>
            </a>
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
