<!DOCTYPE html>
<html lang="ja">
  <head>
    {% block meta -%}
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible">
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
      <meta name="format-detection" content="telephone=no">
    {%- endblock %}
    <link rel="icon" href="/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/img/favicon/android-chrome-192x192.png" sizes="192x192">
    {% block insertHead -%}
      <link rel="stylesheet" type="text/css" href="{{ data.root }}css/index.css">
      <link type="text/css" rel="stylesheet" href="https://www.google.com/cse/static/element/3e1664f444e6eb06/default+ja.css">
    {%- endblock %}
  </head>
  <body>
    <main class="l-singleColumn">
      {% block header %}
      {% endblock %}
      <div class="l-singleColumn__main">
        <div class="l-singleColumn__widthFixed">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      {% include "../components/_footer.njk" %}
    </main>
    {% block insertBody -%}
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <script src="{{ data.root }}js/index.js"></script>
    {%- endblock %}
  </body>
</html>
