{%- from '../modules/_section-logo.njk' import sectionLogo -%}

<div class="c-contact">
  <p>
    {{ sectionLogo(
      usecase="sectionheading"
    ) }}
  </p>
  <p class="c-contact__heading u-fsz-36 u-mt3">CONTACT</p>
  <p class="c-contact__sub">
    総合接合機メーカーとして、<span class="u-d-inline-block">お客様の多様なニーズに最適な形でお応えします。</span>
  </p>
  <div class="c-contact__button">
    <a href="" class="u-link-button u-link-button--fff">
      <img src="/img/icons/icon-mail.svg" alt="mail" width="22" height="18">
      <span class="c-footerMailText">お問い合わせ</span>
    </a>
  </div>
</div>
