{%- from '../modules/_scroll-top.njk' import scrollTop -%}
{{ scrollTop(
  usecase = ""
) }}

{% include "./_contack.njk" %}
<footer class="c-footer">
  <div class="c-footerContent">
    <div class="c-footerLeft">
      <a href="/pages/top/" class="c-footerLogoWrap u-d-block">
        <img src="/img/icons/icon-company-mark.png" alt="電元社トーア株式会社">
      </a>
      <div class="c-footerLeftContent u-mt3">
        <div>
          <p class="c-footer-text-space">
            お電話での<span class="u-d-inline-block">お問い合わせ</span>
          </p>
          <div class="u-mt1">
            <a href="tel:044-922-1121" class="u-d-inline-flex u-align-items-center c-footerTellWrap">
              <img src="/img/icons/icon-tell.svg" alt="電話番号" width="20" class="u-mr1">
              <span class="u-TellText c-footerTellText">044-922-1121</span>
            </a>
            <p class="u-text-xsmall u-mt1 c-footer-text-space">
              受付時間<br>
              9:00～17:00（営業部）
            </p>
          </div>
          <div class="u-mt3">
            <a href="" class="c-footer-link-button u-link-button u-link-button--373582">
              <img src="/img/icons/icon-mail.svg" alt="mail" width="22" height="18">
              <span class="c-footerMailText">お問い合わせ</span>
            </a>
          </div>
        </div>
        <div class="c-footerISO">
          <img src="/img/icons/icon-ISO9001.png" alt="ISO9001" width="90">
        </div>
      </div>
    </div>
    <div class="c-footerLink u-d-flex u-show--pc">
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">製品情報</p>
        <div class="u-d-flex c-footer-text-space">
          <ul class="c-footerLinks">
            <li>
              <a href="/pages/products/spot/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">スポット溶接機</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">溶接ガン</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">プロジェクション溶接機</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">シーム溶接機</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">専用溶接機</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">自動供給装置</span>
              </a>
            </li>
          </ul>
          <ul class="c-footerLinks">
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">抵抗用制御装置</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">抵抗溶接用トランス</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">抵抗加熱装置・計測器・関連機器</span>
              </a>
            </li>
            <li>
              <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
                <span class="u-link-hoverLine__text">接合機器</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">会社案内</p>
        <ul class="c-footerLinks c-footer-text-space">
          <li>
            <a href="/pages/company/top-message/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
              <span class="u-link-hoverLine__text">トップメッセージ</span>
            </a>
          </li>
          <li>
            <a href="/pages/company/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
              <span class="u-link-hoverLine__text">会社案内</span>
            </a>
          </li>
          <li>
            <a href="/pages/company/sdgs/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
              <span class="u-link-hoverLine__text">SDGsへの取り組み</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">
          <a href="/pages/case-study/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
            <span class="u-link-hoverLine__text">
              ケーススタディ
            </span>
          </a>
        </p>
        <p class="c-footerLinkHeading u-mb3">
          <a href="/pages/faq/" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
            <span class="u-link-hoverLine__text">
              よくあるご質問
            </span>
          </a>
          </p>
        <p class="c-footerLinkHeading u-mb3">
          <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
            <span class="u-link-hoverLine__text">
              採用情報
            </span>
          </a>
        </p>
        <p class="c-footerLinkHeading">
          <a href="" class="u-link-hoverLine u-link-hoverLine--thin u-link-hoverLine--black">
            <span class="u-link-hoverLine__text">
              プライバシーポリシー
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="c-footerCopyright">
    <p class="c-footerCopyright__text">
      Copyright © 2021 DENGENSHA TOA CO., LTD.<span class="u-d-inline-block">All Rights Reserved.</span>
    </p>
    <a href="#" class="c-footer__toTop">
      <img src="/img/icons/icon-white-chevron-up.svg" alt="" width="20" height="10">
    </a>
  </div>
</footer>
