{% include "./_contack.njk" %}

<footer class="c-footer">
  <div class="c-footerContent">
    <div class="c-footerLeft">
      <div class="c-footerLogoWrap">
        <img src="/img/icons/icon-company-mark.png" alt="電元社トーア株式会社">
      </div>
      <div class="c-footerLeftContent u-mt3">
        <div>
          <p class="c-footer-text-space">
            お電話での<span class="u-d-inline-block">お問い合わせ</span>
          </p>
          <div class="u-mt1">
            <p class="u-d-inline-flex u-align-items-center c-footerTellWrap">
              <img src="/img/icons/icon-tell.svg" alt="電話番号" width="20" class="u-mr1">
              <span class="u-TellText c-footerTellText">044-922-1121</span>
            </p>
            <p class="u-text-xsmall u-mt1 c-footer-text-space">
              受付時間<br>
              9:00～17:00（営業部）
            </p>
          </div>
          <div class="u-mt3">
            <a href="" class="c-footer-link-button u-link-button u-link-button--373582">
              <img src="/img/icons/icon-mail.svg" alt="mail" width="22" height="18">
              <span class="c-footerMailText">お問い合わせ</span>
            </a>
          </div>
        </div>
        <div class="c-footerISO">
          <img src="/img/icons/icon-ISO9001.png" alt="ISO9001" width="90">
        </div>
      </div>
    </div>
    <div class="c-footerLink u-d-flex u-show--pc">
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">製品情報</p>
        <div class="u-d-flex c-footer-text-space">
          <ul class="c-footerLinks">
            <li>
              <a href="">スポット溶接機</a>
            </li>
            <li>
              <a href="">溶接ガン</a>
            </li>
            <li>
              <a href="">プロジェクション溶接機</a>
            </li>
            <li>
              <a href="">シーム溶接機</a>
            </li>
            <li>
              <a href="">ロボットシーム溶接機</a>
            </li>
            <li>
              <a href="">専用溶接機（特殊溶接機）</a>
            </li>
          </ul>
          <ul class="c-footerLinks">
            <li>
              <a href="">ファイバーレーザシステム</a>
            </li>
            <li>
              <a href="">抵抗溶接用制御装置</a>
            </li>
            <li>
              <a href="">自動供給装置</a>
            </li>
            <li>
              <a href="">計測器</a>
            </li>
            <li>
              <a href="">ポータブルシャーウェルダ</a>
            </li>
            <li>
              <a href="">抵抗溶接用トランス</a>
            </li>
            <li>
              <a href="">溶接関連機器</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">会社概要</p>
        <ul class="c-footerLinks c-footer-text-space">
          <li>
            <a href="">トップメッセージ</a>
          </li>
          <li>
            <a href="">会社概要</a>
          </li>
          <li>
            <a href="">本社工場</a>
          </li>
          <li>
            <a href="">近江工場</a>
          </li>
          <li>
            <a href="">富山工場</a>
          </li>
          <li>
            <a href="">国内事業所案内</a>
          </li>
          <li>
            <a href="">海外事業所案内</a>
          </li>
        </ul>
      </div>
      <div class="c-footerLinkWrap">
        <p class="c-footerLinkHeading u-mb3">採用情報</p>
        <ul class="c-footerLinks c-footer-text-space">
          <li>
            <a href="">会社・事業紹介</a>
          </li>
          <li>
            <a href="">先輩社員の声</a>
          </li>
          <li>
            <a href="">募集要項</a>
          </li>
          <li>
            <a href="">お問い合わせ</a>
          </li>
          <li class="u-mt5">
            <a href="">プライバシーポリシー</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c-footerCopyright">
    <p class="c-footerCopyright__text">
      Copyright © 2021 DENGENSHA TOA CO., LTD.<span class="u-d-inline-block">All Rights Reserved.</span>
    </p>
  </div>
</footer>
