{% macro heading(
  introduction = '',
  subTitle = '',
  title = '',
  modifier = ''
) %}
<div class="u-heading u-heading{{ modifier }}">
  <p class="u-heading__introduction u-font-condensed">{{ introduction }}</p>
  {% if subTitle %}
  <p class="u-heading__sub">{{ subTitle }}</p>
  {% endif %}
  <h1 class="u-heading__main">{{ title }}</h1>
</div>
{% endmacro %}
