{% macro sectionLogo (usecase="sectionheading") %}
<span class="m-sectionLogo {{usecase}}">
  <span class="m-sectionLogo__left"></span>
  <span class="m-sectionLogo__right"></span>
</span>
{% endmacro %}
