.c-contact {
  padding: 80px 25px 100px;
  background: no-repeat center/cover url(/img/images/bg-contact.jpg);
  color: var(--color_fff);
  text-align: center;
}

.c-contact__heading {
  font-size: 2.25rem;
}

.c-contact__sub {
  margin-top: 22px;
  line-height: 1.8;
}

.c-contact__button {
  margin-top: 36px;
}
