body.modal-open {
  height: 100%;
  overflow: hidden;
}

.c-header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: var(--color_fff);

  &.UpMove {
    animation: UpAnime 0.5s forwards;
  }

  &.DownMove {
    animation: DownAnime 0.5s forwards;
  }
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-headerBannerMenu li {
  font-weight: 400;
}

.c-headerBannerLogoWrapper {
  padding: 0;
}

.c-headerBannerLogo {
  width: 25%;
}

.c-headerBannerLogo__image {
  width: 100%;
  max-width: 365px;
  min-width: 190px;
}

.c-headerBannerMenu {
  & button {
    font-family: var(--fontFamily);
  }
}

#cse-search-box {
  & .searchBoxContent {
    height: 30px;
  }

  & .searchBoxContent__input {
    width: 268px;
    height: 100%;

    & input {
      height: 100%;
      width: 100%;
      border: none;
      font-size: 14px;
      padding: 0 12px;

      &:focus {
        outline: none;
      }
    }
  }

  & .searchBoxContent__submit {
    position: relative;
    height: 100%;
    width: 70px;
    margin-left: 15px;

    &::before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 16px;
      height: 16px;
      background-image: url('/img/icons/icon-search.svg');
    }

    & input {
      background-color: #4d90fe;
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

.c-header-toggl-wrapper[data-sidenavi-status='hide'] {
  & button[data-sidenavi-toggle='open'] {
    display: block;
  }

  & button[data-sidenavi-toggle='close'] {
    display: none;
  }
}

.c-header-toggl-wrapper[data-sidenavi-status='show'] {
  & button[data-sidenavi-toggle='open'] {
    display: none;
  }

  & button[data-sidenavi-toggle='close'] {
    display: block;
  }
}

#select_lang {
  &:hover {
    cursor: pointer;
  }

  margin-left: 6px;
  border: none;
  background-color: var(--color_fff);
}

.c-headerTellText {
  font-size: 1.3rem;
}

.c-headerGnavMenuImage {
  margin-bottom: 9px;
}

@media (--pc-viewport) {
  .c-headerGnav {
    margin-top: 6px;
  }

  .c-headerGnavSlideItem {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: background-color 0.3s cubic-bezier(0.25, 0, 0.45, 1), visibility 0.3s cubic-bezier(0.25, 0, 0.45, 1);

    &[aria-hidden='false'] {
      visibility: visible;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.65);
      color: var(--color_fff);
    }
  }

  .c-headerBanner {
    padding: 13px 5.5% 18px;
    border-bottom: 1px solid #ccc;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-headerBannerLogoWrapper {
    width: 30%;
  }

  .c-headerBannerLogo {
    width: 100%;
  }

  .c-headerGnavLists {
    display: flex;
  }

  .c-headerGnavList {
    &:not(:last-of-type) {
      margin-right: 24px;
    }

    & span {
      line-height: 1.4;
      letter-spacing: 1px;
    }
  }

  .c-headerSubNavLists li {
    &:not(:last-of-type) {
      margin-right: 24px;
    }

    & span {
      line-height: 1.3;
      letter-spacing: 1px;
    }
  }

  .c-headerGnavList button {
    &::after {
      width: 6px;
      height: 6px;
      content: '';
      background-color: #ccc;
      border-radius: 100%;
      display: block;
      margin: 6px auto 0;
    }

    &.is-active {
      color: #c6141f;

      &::after {
        background-color: #c6141f;
      }
    }
  }

  .c-headerGnavImage {
    &--solution,
    &--guide {
      width: 240px;
      height: 80px;
    }
  }

  .c-headerGnavMenuLinks {
    white-space: nowrap;

    &:not(:first-of-type) {
      #side-menu-goods & {
        margin-left: 17%;
      }

      #side-menu-solution &,
      #side-menu-guide & {
        margin-left: 3%;
      }
    }
  }

  .c-headerBannerMenu,
  .c-headerGnavList button {
    font-size: 0.93rem;
  }

  .c-headerGnavMenuContent {
    display: flex;
    padding-left: 15%;

    #side-menu-search & {
      padding: 15px 0;
      padding-right: 5.5%;
      justify-content: flex-end;
    }

    #side-menu-goods & {
      padding: 25px 0 34px 15.3%;
    }

    #side-menu-solution & {
      padding: 26px 0 36px 15.3%;
    }

    #side-menu-guide & {
      padding: 28px 0 30px 15.3%;
    }
  }

  .c-headerGnavMenuRightContent {
    display: flex;
    padding-left: 4.2%;
  }

  .c-headerGnavMenuLeftContent {
    border-right: 1px solid #fff;

    #side-menu-goods & {
      padding: 14px 7.4% 0 0;
    }

    #side-menu-solution & {
      padding: 12px 2.5% 0 0;
    }

    #side-menu-guide & {
      padding: 12px 5.8% 70px 0;
    }
  }

  .c-headerGnavMenuContent__heading {
    margin-bottom: 4px;
  }

  .c-headerGnavMenuContent__productIcon {
    margin-left: 6px;
  }

  .c-headerGnavMenuLinkItem {
    font-size: 0.87rem;

    &:not(:first-of-type) {
      margin-top: 10px;
    }
  }

  .c-headerGnavMenuLinkIcon {
    margin-left: 6px;
  }
}

@media (--pc-viewport) and (--middle-pc-viewport) {
  .c-headerGnavList,
  .c-headerSubNavLists li {
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }

  .c-headerBanner {
    padding: 16px;
  }

  .c-headerBannerLogoWrapper {
    width: 25%;
  }

  .c-headerBannerMenu,
  .c-headerGnavList button {
    font-size: 0.8rem;
  }

  .c-headerGnavImage {
    &--solution,
    &--guide {
      max-width: 165px;
      height: auto;
    }
  }

  .c-headerGnavMenuContent {
    justify-content: center;

    #side-menu-goods &,
    #side-menu-solution &,
    #side-menu-guide & {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .c-headerGnavMenuLeftContent {
    #side-menu-goods &,
    #side-menu-solution &,
    #side-menu-guide & {
      padding-right: 2%;
    }
  }

  .c-headerGnavMenuRightContent {
    padding-left: 2%;
  }

  .c-headerGnavMenuLinks {
    &:not(:first-of-type) {
      #side-menu-goods &,
      #side-menu-solution & {
        margin-left: 2%;
      }

      #side-menu-guide & {
        margin-left: 2%;
      }
    }
  }
}

@media (--sp-viewport) {
  .c-headerBanner {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
  }

  .c-headerBannerLogoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    border-bottom: 1px solid #ccc;
  }

  #side-navi {
    display: none;
    width: 100%;
    z-index: 100;
    overflow: auto;
    background-color: var(--color_000);
    opacity: 0.85;
    color: var(--color_fff);
  }

  .c-headerGnavLists {
    padding: 0 24px 40px;
  }

  .c-headerGnavList {
    border-bottom: 1px solid #707070;

    & > button,
    & > a {
      padding: 16px 0;
    }

    & button {
      text-align: left;
      color: var(--color_fff);
      font-size: 1rem;

      & .c-headerGnavList__triggerText {
        padding-right: 4px;

        &::after {
          width: 17px;
          height: 9px;
          content: '';
          background: url('/img/icons/icon-chevron-down.svg') no-repeat center;
        }
      }

      &.is-active .c-headerGnavList__triggerText::after {
        background: url('/img/icons/icon-chevron-up.svg') no-repeat center;
      }
    }
  }

  .c-headerGnav li[data-layer='1'] > button:not(.is-active) + [id] {
    display: none;
  }

  .c-headerGnavSlideItem {
    margin-top: 24px;
  }

  #cse-search-box {
    & .searchBoxContent {
      height: 46px;
    }

    & .searchBoxContent__input {
      width: 90%;

      & input {
        border-radius: 8px 0 0 8px;
        height: 46px;
        width: 100%;
      }
    }

    & .searchBoxContent__submit {
      margin-left: 0;
      width: 10%;
      height: 90%;

      & input {
        border-radius: 0 8px 8px 0;
      }
    }
  }
}
