{%- from '../../../modules/_heading.njk' import heading -%}


<div class="p-news">
  <section class="p-newsHeading">
    {{ heading(
      introduction = 'NEWS',
      title = 'ニュース一覧',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-newsContent">
    <table class="p-newsContent__table">
      <tbody>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2021.09.10</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">単相交流式プロジェクション溶接機の標準機をNPO Seriesとしてラインナップに追加しました。（PDF）</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2021.04.29</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">単相交流式とインバータ制御式の定置スポット溶接機に「ＧＳＺシリーズ」のラインナップを拡充（PDF）</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2020.10.22</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">新製品、『樹脂金属接合装置』のお知らせ（PDF）</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2015.12.25</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">子会社との合併に関するお知らせ（PDF）</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2014.09.10</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2013.04.29</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2012.10.22</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">テキストテキストテキストテキストテキストテキストテキスト</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2011.12.25</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">テキストテキストテキストテキストテキストテキストテキストテキスト</span>
            </a>
          </td>
        </tr>
        <tr class="p-newsContent__tableRow">
          <th class="p-newsContent__tableTeam">
            <span class="p-newsContent__tableTeamText">2010.09.10</span>
          </th>
          <td class="p-newsContent__tableDescription">
            <a href="" class="u-link-hoverLine--thin u-link-hoverLine u-link-hoverLine--purple">
              <span class="u-link-hoverLine__text">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="p-newsYears">
    <ul class="p-newsYears__list">
      <li class="p-newsYears__listItem">
        <a href="" class="p-newsYears__listLink">2022</a>
      </li>
      <li class="p-newsYears__listItem">
        <a href="" class="p-newsYears__listLink">2021</a>
      </li>
      <li class="p-newsYears__listItem">
        <a href="" class="p-newsYears__listLink">〜2020</a>
      </li>
    </ul>
  </section>
</div>
