{%- from '../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../modules/_heading.njk' import heading -%}
<div class="p-solution">
  <section class="p-solutionHeading">
    {{ heading(
      introduction = 'Solution',
      subTitle = 'マルチマテリアルの溶接に対応',
      title = '車体軽量化ソリューション',
      modifier = '--type1'
    ) }}
  </section>

  <section class="p-solutionIntroduction">
    <div class="p-solutionIntroduction__squareWrap u-text-center">
      <div class="p-solutionIntroduction__square--red"></div>
      <div class="p-solutionIntroduction__square--blue"></div>
      <img class="u-show--pc p-solutionIntroduction__img" src="{{ data.root }}img/images/solution-visual-weight-saving.jpg" alt="">
      <img class="u-show--sp p-solutionIntroduction__img" src="{{ data.root }}img/images/sp-solution-visual-weight-saving.jpg" alt="">
    </div>
    <div class="p-solutionIntroduction__textWrap">
      <h2 class="p-solutionSectionHeading">環境に配慮した車体製造</h2>
      <p class="p-solutionExplainText">
        政府は2050年までに温室効果ガスの排出を全体としてゼロにする、カーボンニュートラルを目指すことを宣言しました。<br>
        これに対して自動車に求められていることは燃費の向上や環境汚染物質の排出量を削減することですが、燃費向上のためには車体の軽量化が重要になってきます。そのため自動車の車体に使用される材料は、引張せん断強度で1GPaを超えるハイテン材やホットスタンプ材、アルミニウム合金などの比率が増えてきており、最近は自動車の内装だけでなく、外装にもCFRP（Carbon Fiber Reinforced Plastics：炭素繊維強化樹脂）などの樹脂材が使用されるなどマルチマテリアル化が進んでいます。
      </p>
    </div>
  </section>
  <section class="p-solutionTask">
    <div class="p-solutionTaskColorBlock"></div>
    <div>
      <div class="p-solutionTask__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionTaskHeading p-solutionSectionHeading">マルチマテリアル化における課題</h2>
      <p class="p-solutionTaskText p-solutionExplainText">
        現状ではマルチマテリアル接合において機械的接合が多く採用されていますが、機械的接合ではほとんどの場合にボルトやリベット等の副資材が必要であるため、質量の増加やコストアップの要因となっています。<br>
        また、化学的接合の代表的な例として接着剤を使用する例も有りますが、接着剤では十分な強度を得るのに長時間を要することや有機溶剤の蒸発が作業者の健康を害するためVOC規制の対象であることなどの問題があります。
      </p>
    </div>
  </section>
  <section class="p-solutionMain p-solutionMain--weightSaving">
    <div class="p-solutionMain__logo">
      <img src="{{ data.root }}img/images/solution-logo.png" alt="SOLUTION">
    </div>
    <div>
      <div class="p-solutionMain__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionMainHeading p-solutionSectionHeading">電元社トーアのソリューション</h2>
      <div class="p-solutionMain__topContents">
        <img class="p-solutionMain__topContentImage" src="{{ data.root }}img/images/solution-main-weight-saving-1.jpg" alt="">
        <div class="p-solutionMain__topContent">
          <p class="p-solutionMain__topContentHeading">樹脂金属接合装置の開発</p>
          <p class="p-solutionMain__topContentText">
            電元社トーアではマルチマテリアル化に対応するためアルミニウム合金同士の溶接機はもちろんの事、樹脂と金属を直接接合可能な樹脂金属接合装置を開発いたしました。<br>
            この樹脂金属接合装置では重ね合わされた樹脂と金属の金属側だけに、コアキシャル電極と呼ぶ同軸に配置された電極により電流を流します。それにより金属がジュール熱により加熱され、その熱で樹脂が溶融します。通電が終わると冷却されて樹脂が凝固し樹脂と金属が接合されます。
          </p>
        </div>
      </div>
      <p class="p-solutionMain__middleText">
        装置の形態としては通常の定置式スポット溶接機タイプの物だけでなく、ロボットでハンドリング可能なサーボスポットガンタイプが有り、これにより自動車車体の組み立てラインでの使用が可能となっています。<br>
        電元社トーアではこれらの製品で車体軽量化に貢献していきます。
      </p>
      <div class="p-solutionMain__bottomImageWrap">
        <img src="{{ data.root }}img/images/solution-main-weight-saving-2.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="p-solutionProductWrap">
    <div class="p-solutionProduct">
      <h2 class="p-solutionProductHeading">関連製品</h2>
      <ul class="p-solutionProductList u-d-flex">
        <li class="p-solutionProductItem">
          <p>
            <a href="" class="p-solutionProductLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
              <span>樹脂金属接合装置</span>
            </a>
          </p>
        </li>
        <li class="p-solutionProductItem">
          <p>
            <a href="" class="p-solutionProductLink u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
              <span>アルミ溶接用ガン</span>
            </a>
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
