{%- from '../../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../../modules/_heading.njk' import heading -%}

<div class="p-product">
  <section class="p-productHeading">
    {{ heading(
      introduction = 'Product',
      title = '定置式スポット溶接機',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-productNavi">
    <div class="p-productNaviWrap u-show--pc">
      <div class="p-productNavi__items">
        <div class="p-productNavi__item">
          <a href="#p-product-series-ndz">
            <span class="p-productNavi__linkContent">
              NDZシリーズ
              <img src="/img/icons/icon-red-chevron-down.svg" width="14" height="7" alt="">
            </span>
          </a>
        </div>
        <div class="p-productNavi__item">
          <a href="#">
            <span class="p-productNavi__linkContent">
              下腕調整式NDZシリーズ
              <img src="/img/icons/icon-red-chevron-down.svg" width="14" height="7" alt="">
            </span>
          </a>
        </div>
        <div class="p-productNavi__item">
          <a href="#">
            <span class="p-productNavi__linkContent">
              NDZ-GSZシリーズ
              <img src="/img/icons/icon-red-chevron-down.svg" width="14" height="7" alt="">
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-productSeriesDetail">
    <div id="p-product-single-phase" class="p-productSeriesDetail__item">
      <div class="p-productSeriesDetail__heading">
        <div class="p-productSeriesDetail__headingImgWrap">
          <img src="/img/images/product_01.png" alt="">
        </div>
        <div class="p-productSeriesDetail__headingTextWrap">
          <p class="p-productSeriesDetail__headingText">
            単相交流式
          </p>
          <p class="p-productSeriesDetail__headingUnderBar">
            <span class="p-productSeriesDetail__headingLeftBar"></span>
            <span class="p-productSeriesDetail__headingRightBar"></span>
          </p>
          <div class="p-productSeriesDetail__headingLinkWrap">
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">各種ダウンロード</a>
            </p>
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">導入事例</a>
            </p>
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">お問い合わせ</a>
            </p>
          </div>
        </div>
      </div>
      <div class="p-productSeriesDetail__contents">
        <div class="p-productSeriesDetail__feature">
          <p class="p-productSection__heading">特長</p>
          <ul class="p-productSeriesDetail__featureList">
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              環境にやさしく安全性と耐久性を備えた溶接機
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              パイロット電流でハイテン材にナット、ボルトを高品質に溶接
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              パイロット電流を個別モニタリング、異常検知
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              黒皮など絶縁被膜にも対応した電流制御モード（PPCL）搭載
            </li>
          </ul>
        </div>

        <div class="p-productSeriesDetail__option">
          <p class="p-productSection__heading">オプション</p>
          <table class="p-product__table">
            <tbody>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">治具の取り付けや直上加圧による高品質溶接に対応</td>
              </tr>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">作業高さを高くしたい場合に使用</td>
              </tr>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">冷却水の目視確認が可能</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="p-productSeriesDetail__specification">
          <p class="p-productSection__heading">仕様表</p>
          <div class="p-productSeriesDetail__specificationTableWrap">
            <table class="p-productSeriesDetail__specificationTable">
                <thead class="p-productSeriesDetail__specificationTableHeading u-show--pc">
                  <tr>
                    <th class="">型式</th>
                    <th class="">定格容量 (kVA)</th>
                    <th class="">最大短絡電流 (A)</th>
                    <th class="">最大加圧力／0.5MPa時 (kN)</th>
                  </tr>
                </thead>
                <tbody>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-035-46**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    35
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    17000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    6
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-035-66**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    35
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    15000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    6
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-46**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    50
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    20000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    6
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    50
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    20000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    10
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-66**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    50
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    17000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    6
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-070-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    70
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    25000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    10
                  </td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-100-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">定格容量 (kVA)</span>
                    100
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大短絡電流 (A)</span>
                    33000
                  </td>
                  <td class="p-productSeriesDetail__specificationTableDescription">
                    <span class="u-show--sp">最大加圧力／0.5MPa時 (kN)</span>
                    10
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="p-productSeriesDetail__work">
          <p class="p-productSection__heading">対象ワーク</p>
          <table class="p-productSeriesDetail__workTable">
            <tbody>
              <tr class="p-producSeriesDetailt__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">鋼板</th>
                <td class="p-productSeriesDetail__workTableDescription">0.6t～4.5t</td>
              </tr>
              <tr class="p-productSeriesDetail__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">ナット</th>
                <td class="p-productSeriesDetail__workTableDescription">M5～M14突起</td>
              </tr>
              <tr class="p-productSeriesDetail__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">ボルト</th>
                <td class="p-productSeriesDetail__workTableDescription">M5～M12突起</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="p-productSeriesDetail__connection">
          <p class="p-productSection__heading">関連製品・組み合わせ製品</p>
          <div class="p-productSeriesDetail__connectionProductWrap">
            <div class="m-product">
              <ul class="m-productList u-d-flex">
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="p-productSeriesDetail__movieWrap">
          <p class="p-productSection__heading">製品動画</p>
          <div class="p-productSeriesDetail__movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lxb6fv1pcVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div id="p-product-inverter" class="p-productSeriesDetail__item">
      <div class="p-productSeriesDetail__heading">
        <div class="p-productSeriesDetail__headingImgWrap">
          <img src="/img/images/product_inverter.png" alt="">
        </div>
        <div class="p-productSeriesDetail__headingTextWrap">
          <p class="p-productSeriesDetail__headingText">
            直流インバータ式
          </p>
          <p class="p-productSeriesDetail__headingUnderBar">
            <span class="p-productSeriesDetail__headingLeftBar"></span>
            <span class="p-productSeriesDetail__headingRightBar"></span>
          </p>
          <div class="p-productSeriesDetail__headingLinkWrap">
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">各種ダウンロード</a>
            </p>
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">導入事例</a>
            </p>
            <p class="p-productSeriesDetail__headingLink">
              <a href="" class="u-link-button u-link-button--5652cc">お問い合わせ</a>
            </p>
          </div>
        </div>
      </div>

      <div class="p-productSeriesDetail__contents">
        <div class="p-productSeriesDetail__feature">
          <p class="p-productSection__heading">特長</p>
          <ul class="p-productSeriesDetail__featureList">
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              環境にやさしく安全性と耐久性を備えた溶接機
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              パイロット電流でハイテン材にナット、ボルトを高品質に溶接
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              パイロット電流を個別モニタリング、異常検知
            </li>
            <li>
              <span class="m-listSquare">
                <span class="m-listSquare__left"></span>
                <span class="m-listSquare__right"></span>
              </span>
              黒皮など絶縁被膜にも対応した電流制御モード（PPCL）搭載
            </li>
          </ul>
        </div>

        <div class="p-productSeriesDetail__option">
          <p class="p-productSection__heading">オプション</p>
          <table class="p-product__table">
            <tbody>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">治具の取り付けや直上加圧による高品質溶接に対応</td>
              </tr>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">作業高さを高くしたい場合に使用</td>
              </tr>
              <tr class="p-product__tableRow">
                <td class="p-product__tableDescription">冷却水の目視確認が可能</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="p-productSeriesDetail__specification">
          <p class="p-productSection__heading">仕様表</p>
          <div class="p-productSeriesDetail__specificationTableWrap">
            <table class="p-productSeriesDetail__specificationTable">
                <thead class="p-productSeriesDetail__specificationTableHeading u-show--pc">
                  <tr>
                    <th class="">型式</th>
                    <th class="">定格容量 (kVA)</th>
                    <th class="">最大短絡電流 (A)</th>
                    <th class="">最大加圧力／0.5MPa時 (kN)</th>
                  </tr>
                </thead>
                <tbody>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-035-46**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">35</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">17000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">6</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-035-66**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">35</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">15000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">6</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-46**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">50</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">20000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">6</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">50</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">20000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">10</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-050-66**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">50</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">17000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">6</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-070-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">70</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">25000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">10</td>
                </tr>
                <tr class="p-productSeriesDetail__specificationTableRow">
                  <th class="p-productSeriesDetail__specificationTableTerm">NDZ-100-41**J-*-E</th>
                  <td class="p-productSeriesDetail__specificationTableDescription">100</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">33000</td>
                  <td class="p-productSeriesDetail__specificationTableDescription">10</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="p-productSeriesDetail__work">
          <p class="p-productSection__heading">対象ワーク</p>
          <table class="p-productSeriesDetail__workTable">
            <tbody>
              <tr class="p-producSeriesDetailt__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">鋼板</th>
                <td class="p-productSeriesDetail__workTableDescription">0.6t～4.5t</td>
              </tr>
              <tr class="p-productSeriesDetail__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">ナット</th>
                <td class="p-productSeriesDetail__workTableDescription">M5～M14突起</td>
              </tr>
              <tr class="p-productSeriesDetail__workTableRow">
                <th class="p-productSeriesDetail__workTableTerm">ボルト</th>
                <td class="p-productSeriesDetail__workTableDescription">M5～M12突起</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="p-productSeriesDetail__connection">
          <p class="p-productSection__heading">関連製品・組み合わせ製品</p>
          <div class="p-productSeriesDetail__connectionProductWrap">
            <div class="m-product">
              <ul class="m-productList u-d-flex">
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
                <li class="m-productItem">
                  <p>
                    <a href="" class="m-productLink u-link-hoverLine--thin u-d-inline-flex u-link-hoverLine u-link-hoverLine--purple">
                      <img src="/img/icons/icon-link-chevron-right.svg" alt="" width="7" height="14">
                      <span class="u-link-hoverLine__text">【カテゴリー】製品名</span>
                    </a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="p-productSeriesDetail__movieWrap">
          <p class="p-productSection__heading">製品動画</p>
          <div class="p-productSeriesDetail__movie">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lxb6fv1pcVo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
