{%- from '../../../modules/_heading.njk' import heading -%}
{%- from '../../../modules/_products.njk' import products -%}
{% set thisLinkList = [
  {
    text: '【カテゴリー】製品名',
    href: ''
  },
  {
    text: '【カテゴリー】製品名',
    href: ''
  },
  {
    text: '【カテゴリー】製品名',
    href: ''
  },
  {
    text: '【カテゴリー】製品名',
    href: ''
  }
] %}

<div class="p-faq">
  <section class="p-faqHeading">
    {{ heading(
      introduction = 'Q&A',
      title = 'よくあるご質問',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-faqContent">
    <div class="p-faqContent__accordion">
      <div class="p-faqContent__accordionQuestion is-opened" data-toggle="accordion" data-target="#faqAnswer1">
        <div class="p-faqContent__accordionQuestionTextWrap">
          <span class="p-faqContent__accordionQuestionLogo">Q</span>
          <p class="p-faqContent__accordionQuestionText">
            質問内容が入ります質問内容が入ります質問内容が入ります。
          </p>
        </div>
        <span class="p-faqContent__accordionToggle"></span>
      </div>
      <div id="faqAnswer1" class="p-faqContent__accordionAnswer">
        <span class="p-faqContent__accordionAnswerLogo">A</span>
        <div class="p-faqContent__accordionAnswerTexts">
          <p class="p-faqContent__accordionAnswerText">
            回答文が入ります。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <div class="p-faqContent__accordionAnswerImg">
            <img src="/img/images/faq-answer.jpg" alt="">
            <p class="p-faqContent__accordionAnswerImgText">キャプションがある場合</p>
          </div>
          <div class="p-faqContent__accordionAnswerProducts">
            {{ products(
              linkList = thisLinkList
            ) }}
          </div>
        </div>
      </div>
    </div>
    <div class="p-faqContent__accordion">
      <div class="p-faqContent__accordionQuestion is-closed" data-toggle="accordion" data-target="#faqAnswer2">
        <div class="p-faqContent__accordionQuestionTextWrap">
          <span class="p-faqContent__accordionQuestionLogo">Q</span>
          <p class="p-faqContent__accordionQuestionText">
            質問内容が入ります質問内容が入ります質問内容が入ります。
          </p>
        </div>
        <span class="p-faqContent__accordionToggle"></span>
      </div>
      <div id="faqAnswer2" class="p-faqContent__accordionAnswer">
        <span class="p-faqContent__accordionAnswerLogo">A</span>
        <div class="p-faqContent__accordionAnswerTexts">
          <p class="p-faqContent__accordionAnswerText">
            回答文が入ります。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <div class="p-faqContent__accordionAnswerImg">
            <img src="/img/images/faq-answer.jpg" alt="">
            <p class="p-faqContent__accordionAnswerImgText">キャプションがある場合</p>
          </div>
          <div class="p-faqContent__accordionAnswerProducts">
            {{ products(
              linkList = thisLinkList
            ) }}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
