{%- from '../../../modules/_section-logo.njk' import sectionLogo -%}
<section class="p-top-hero">
  <div class="p-top-videoWrap">
    <video class="p-top-heroMove" poster="/img/images/top-hero-slide-1.jpg" webkit-playsinline playsinline muted autoplay loop>
      <source src="{{ data.root }}img/movies/TopPageFastLong-ss.mp4" type="video/mp4">
      <p>動画を再生できる環境ではありません。</p>
    </video>
    <div class="p-top-heroLogo">
      <img src="{{ data.root }}img/images/top-hero-text.png" alt="SIMPLICITY. DURABILITY. RELIABILITY.">
    </div>
    <div class="p-top-videoArea">
    </div>
  </div>
  <div class="p-top-heroTextBlock">
    <div class="p-top-heroTextBlock__left">
      <div>
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <p class="p-top-heroTextBlock__main u-mt3">
        モノづくりを支える<br>
        ウェルディング・<br>
        ソリューション
      </p>
      <p class="p-top-heroTextBlock__sub">
        総合接合機メーカーとして確かな技術と開発力で<br>
        ニーズに合わせた製品をご提供します。
      </p>
      <div class="p-top-heroTextBlock__right u-show--sp"></div>
    </div>
    <div class="p-top-heroTextBlock__right u-show--pc"></div>
  </div>
</section>
<section class="p-top-heroSolution">
  <div class="p-top-heroSolutionWrap">
    <a href="/pages/weight-saving-solution/" class="p-top-heroSolutionItem">
      <div class="p-top-heroSolution__img">
        <img src="{{ data.root }}img/images/top-solution01.jpg" alt="車体軽量化ソリューション">
      </div>
      <div class="p-top-heroSolution__navWrap">
        <p class="p-top-heroSolution__nav u-font-condensed">Solution 01</p>
        <p class="p-top-heroSolution__heading u-fsz-24">車体軽量化ソリューション</p>
      </div>
      <p class="p-top-heroSolution__text">
        マルチマテリアル化に対応した接合ソリューションをご紹介致します。
      </p>
    </a>
    <a href="/pages/decarbonization-solution/" class="p-top-heroSolutionItem">
      <div class="p-top-heroSolution__img">
        <img src="{{ data.root }}img/images/top-solution02.jpg" alt="脱炭素ソリューション">
      </div>
      <div class="p-top-heroSolution__navWrap">
        <p class="p-top-heroSolution__nav u-font-condensed">Solution 02</p>
        <p class="p-top-heroSolution__heading u-fsz-24">脱炭素ソリューション</p>
      </div>
      <p class="p-top-heroSolution__text">
        カーボンニュートラルに向けた省エネソリューションをご紹介致します。
      </p>
    </a>
    <a href="/pages/dx-solution/" class="p-top-heroSolutionItem">
      <div class="p-top-heroSolution__img">
        <img src="{{ data.root }}img/images/top-solution03.jpg" alt="DXソリューション">
      </div>
      <div class="p-top-heroSolution__navWrap">
        <p class="p-top-heroSolution__nav u-font-condensed">Solution 03</p>
        <p class="p-top-heroSolution__heading u-fsz-24">DXソリューション</p>
      </div>
      <p class="p-top-heroSolution__text">
        抵抗溶接機のIoT化によるDXに向けたITソリューションをご紹介致します。
      </p>
    </a>
    <div class="p-top-heroSolution__subCol"></div>
  </div>
</section>
<section class="p-top-otherContents">
  <div class="p-top-otherContent p-top-otherContent--caseStudy">
    <div class="p-top-otherContent__explain">
      <div class="p-top-otherContent__textWrap">
        <div>
          {{ sectionLogo(
            usecase="sectionheading"
          ) }}
        </div>
        <p class="p-top-otherContent__heading u-fsz-36">ケーススタディ</p>
        <p class="p-top-otherContent__text">
          溶接に関する様々なお困りごとや課題に対し、電元社トーアの培ってきたノウハウからお客様の状況を踏まえた最適な提案を行っております。<br>
          これまでに解決した事例の一部をご紹介します。
        </p>
        <p class="p-top-moreWrap">
          <a href="/pages/case-study/" class="c-link-more u-link-hoverLine u-link-hoverLine--purple u-d-inline-flex u-align-items-center">
            MORE
            <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="6" height="12" class="c-link-more__linkIcon">
          </a>
        </p>
      </div>
    </div>
    <div class="p-top-otherContent__imageWrap">
      <img src="{{ data.root }}img/images/top-case-study.png" alt= "ケーススタディ" class="u-show--pc">
      <img src="{{ data.root }}img/images/sp-top-case-study.png" alt= "ケーススタディ" class="u-show--sp">
    </div>
  </div>
  <div class="p-top-otherContent p-top-otherContent--questionWrap">
    <div class="p-top-otherContent p-top-otherContent--question">
      <div class="p-top-otherContent__explain">
        <div class="p-top-otherContent__textWrap">
          <div>
            {{ sectionLogo(
              usecase="sectionheading"
            ) }}
          </div>
          <p class="p-top-otherContent__heading u-fsz-36">よくあるご質問</p>
          <p class="p-top-otherContent__text">
            各製品・サービスに関してお客様からよく寄せられるお問い合わせとその回答をまとめて掲載しています。ご不明な点などお困りの際には、まず一度ご参照ください。
          </p>
          <p class="p-top-moreWrap">
            <a href="/pages/faq/" class="c-link-more u-link-hoverLine u-link-hoverLine--purple u-d-inline-flex u-align-items-center">
              MORE
              <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="6" height="12" class="c-link-more__linkIcon">
            </a>
          </p>
        </div>
      </div>
      <div class="p-top-otherContent__imageWrap">
        <img src="{{ data.root }}img/images/top-question.png" alt= "よくあるご質問">
        <div class="p-top-otherContent__subCol"></div>
      </div>
    </div>
  </div>
</section>
<section class="p-top-heroNews">
  <div>
    {{ sectionLogo(
      usecase="sectionheading"
    ) }}
  </div>
  <p class="p-top-heroNews__heading u-fsz-36">NEWS</p>
  <ul class="p-top-heroNews__list">
    <li class="p-top-heroNews__listItem">
      <span class="p-top-heroNews__time u-font-condensed">2021.09.10</span>
      <a href="" class="p-top-heroNews__listHeading">
        <span class="p-top-heroNews__listHeadingText">
          単相交流式プロジェクション溶接機の標準機をNPO Seriesとしてラインナップに追加しました。（PDF）
        </span>
      </a>
    </li>
    <li class="p-top-heroNews__listItem">
      <span class="p-top-heroNews__time u-font-condensed">2021.09.10</span>
      <a href="" class="p-top-heroNews__listHeading">
        <span class="p-top-heroNews__listHeadingText">
          単相交流式とインバータ制御式の定置スポット溶接機に「ＧＳＺシリーズ」のラインナップを拡充（PDF）
        </span>
      </a>
    </li>
    <li class="p-top-heroNews__listItem">
      <span class="p-top-heroNews__time u-font-condensed">2021.09.10</span>
      <a href="" class="p-top-heroNews__listHeading">
        <span class="p-top-heroNews__listHeadingText">
          新製品、『樹脂金属接合装置』のお知らせ（PDF）
        </span>
      </a>
    </li>
    <li class="p-top-heroNews__listItem">
      <span class="p-top-heroNews__time u-font-condensed">2021.09.10</span>
      <a href="" class="p-top-heroNews__listHeading">
        <span class="p-top-heroNews__listHeadingText">
          子会社との合併に関するお知らせ（PDF）
        </span>
      </a>
    </li>
  </ul>
  <p class="p-top-moreWrap u-mt5">
    <a href="" class="c-link-more u-link-hoverLine u-link-hoverLine--purple u-d-inline-flex u-align-items-center">
      MORE
      <img src="{{ data.root }}img/icons/icon-link-chevron-right.svg" alt="" width="7" height="16" class="c-link-more__linkIcon">
    </a>
  </p>
</section>
<section class="p-top-product">
  <div class="p-top-productColorBlocks u-d-flex">
    <div class="p-top-productColorBlocks__left u-d-flex u-align-items-end">
      <div class="p-top-product__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
    </div>
    <div class="p-top-productColorBlocks__right"></div>
  </div>
  <div class="p-top-productContent">
    <p class="p-top-productHeading u-fsz-36">製品情報</p>
    <div class="p-top-productLists">
      <div class="p-top-productList">
        <p class="p-top-productList__title u-fsz-24">
          抵抗溶接機
        </p>
        <div class="p-top-productList__content">
          <div class="p-top-productList__main u-d-flex u-justify-content-center">
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-spot.png" class="p-top-productList__linkImg" alt="スポット溶接機">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">スポット溶接機</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-yosetsu.png" class="p-top-productList__linkImg" alt="溶接ガン">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">溶接ガン</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-projection.png" class="p-top-productList__linkImg" alt="プロジェクション溶接機">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">プロジェクション溶接機</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
          </div>
          <ul class="p-top-productList__otherList">
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">シーム溶接機</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">ロボットシーム溶接機</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">専用溶接機（特殊溶接機）</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-top-productList">
        <p class="p-top-productList__title u-fsz-24">
          制御装置・計測器・エレメントなど
        </p>
        <div class="p-top-productList__content">
          <div class="p-top-productList__main u-d-flex u-justify-content-center">
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-faiver.png" class="p-top-productList__linkImg" alt="ファイバーレーザシステム">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">接合機器</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-resistance.png" class="p-top-productList__linkImg" alt="抵抗溶接用制御装置">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">抵抗溶接用制御装置</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
            <div class="p-top-productList__mainContent u-text-center">
              <a href="" class="p-top-productList__link u-d-block">
                <img src="{{ data.root }}img/images/top-product-auto.png" class="p-top-productList__linkImg" alt="自動供給装置（フィーダ）">
                <span class="p-top-productList__linkTextWrap u-d-inline-block">
                  <span class="p-top-productList__linkText">自動供給装置（フィーダ）</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </div>
          </div>
          <ul class="p-top-productList__otherList">
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">計測器</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">ポータブルシャーウェルダ</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">抵抗溶接用トランス</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
            <li class="p-top-productList__otherItem">
              <a href="" class="p-top-productList__link">
                <span class="p-top-productList__linkTextWrap">
                  <span class="p-top-productList__linkText">溶接関連機器</span>
                  <img src="{{ data.root }}img/icons/icon-white-chevron-right.svg" alt="" width="7" height="14">
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <p class="u-text-center">
      <a href="" class="u-link-button u-link-button--fff p-top-product__otherLink">
        製品情報一覧
      </a>
    </p>
  </div>
</section>
