{%- from '../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../modules/_heading.njk' import heading -%}

<div class="p-company">
  <section class="p-companyHeading">
    {{ heading(
      introduction = 'Company Information',
      title = '会社案内',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-companyNavi">
    <div class="p-companyNaviWrap u-show--pc">
      <div class="p-companyNavi__items">
        <div class="p-companyNavi__item">
          <a href="#p-company-introduction">
            <span class="p-companyNavi__linkContent">
              会社概要・沿革
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-places">
            <span class="p-companyNavi__linkContent">
              本社・工場
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-office">
            <span class="p-companyNavi__linkContent">
              国内事業所
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-overseas">
            <span class="p-companyNavi__linkContent">
              海外事業所
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-overseas-agency">
            <span class="p-companyNavi__linkContent">
              海外主要代理店
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-client">
            <span class="p-companyNavi__linkContent">
              主要取引先
              <img src="/img/icons/icon-red-chevron-down.svg" width="10" height="5" alt="">
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="p-companyNaviWrap u-show--sp">
      <a class="is-closed p-companyNavi__toggle" data-toggle="accordion" data-target="#p-companyNaviContent" data-accordion-status="internalToggle">
        会社案内
      </a>
      <div id="p-companyNaviContent" class="p-companyNavi__items" data-accordion-status="internalTarget">
        <div class="p-companyNavi__item">
          <a href="#p-company-introduction">
            会社概要・沿革
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-places">
            本社・工場
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-office">
            国内事業所
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-overseas">
            海外事業所
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-overseas-agency">
            海外主要代理店
          </a>
        </div>
        <div class="p-companyNavi__item">
          <a href="#p-company-client">
            主要取引先
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="p-company-introduction" class="p-companyIntroduction">
    <div class="p-companyIntroduction__content">
      <div class="p-companyIntroduction__heading">
        <div class="p-companyTask__sectionLogoWrap">
          {{ sectionLogo(
            usecase="sectionheading"
          ) }}
        </div>
        <h2 class="p-companySectionHeading">会社概要</h2>
      </div>
      <div class="p-companyIntroduction__tableWrap">
        <table class="p-companyIntroduction__table">
          <tbody>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">称号</th>
              <td class="p-companyIntroduction__tableDescription">電元社トーア 株式会社</td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">創立</th>
              <td class="p-companyIntroduction__tableDescription">1935年4月29日</td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">設立</th>
              <td class="p-companyIntroduction__tableDescription">1951年5月15日</td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">資本金</th>
              <td class="p-companyIntroduction__tableDescription">１億円</td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">従業員</th>
              <td class="p-companyIntroduction__tableDescription">370名</td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">事務所</th>
              <td class="p-companyIntroduction__tableDescription">
                <ul class="p-companyIntroduction__tableList">
                  <li>
                    <span class="p-companyIntroduction__tableEmp">本社</span> : 神奈川県川崎市多摩区枡形1-23-1
                  </li>
                  <li>
                    <span class="p-companyIntroduction__tableEmp">本社工場</span> : 同上
                  </li>
                  <li>
                    <span class="p-companyIntroduction__tableEmp">近江工場</span> :  滋賀県湖南市小砂町4-4
                  </li>
                  <li>
                    <span class="p-companyIntroduction__tableEmp">富山工場</span> : 富山県射水市有磯2-27-2
                  </li>
                  <li>
                    <span class="p-companyIntroduction__tableEmp">営業拠点</span> :  群馬、静岡、愛知、大阪、広島、福岡
                  </li>
                </ul>
              </td>
            </tr>
            <tr class="p-companyIntroduction__tableRow">
              <th class="p-companyIntroduction__tableTerm">主な製品</th>
              <td class="p-companyIntroduction__tableDescription p-companyIntroduction__tableProducts">スポット溶接機、プロジェクション溶接機、シーム溶接機、フラッシュ溶接機、大型コンデンサ溶接機、定置式スポット溶接機、ナット・ボルトフィーダー、サーボスポットガン、各種ロボット用ガン、ポータブルガン、マルチガン、インバータトランス、ポータブルトランス、マルチトランス、LCトランス、溶接制御装置、抵抗加熱装置、各種計測器、各種ケーブル、モニター</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </section>
  <section class="p-companyHistory">
    <div>
      <div class="p-companyHistory__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-companyHistory__heading p-companySectionHeading">沿革</h2>
    </div>
    <div class="p-companyHistory__content">
      <div class="p-companyHistory__section u-d-flex">
        <p class="p-companyHistory__mainYear u-show--pc">1935</p>
        <div class="p-companyHistory__line u-show--pc">
          <span class="p-companyHistory__dots u-d-flex">
            <span class="p-companyHistory__dot"></span>
            <span class="p-companyHistory__dot"></span>
            <span class="p-companyHistory__dot"></span>
          </span>
          <span class="p-companyHistory__lineCircle"></span>
        </div>
        <ul class="p-companyHistory__list">
          <li>
            <span class="p-companyHistory__subYear">1935</span>株式会社電元社創立（資本金10万円）
          </li>
          <li>
            <span class="p-companyHistory__subYear">1940</span>中野工場開設
          </li>
          <li>
            <span class="p-companyHistory__subYear">1951</span>旧会社解散、株式会社電元社製作所設立、資本金600万円に増資
          </li>
          <li>
            <span class="p-companyHistory__subYear">1952</span>丸紅飯田株式会社（現丸紅株式会社）と総代理店契約
          </li>
          <li>
            <span class="p-companyHistory__subYear">1958</span>資本金2400万円に増資
          </li>
        </ul>
      </div>
      <div class="p-companyHistory__section u-d-flex">
        <p class="p-companyHistory__mainYear u-show--pc">1960</p>
        <div class="p-companyHistory__line u-show--pc">
          <span class="p-companyHistory__lineCircle"></span>
        </div>
        <ul class="p-companyHistory__list">
          <li>
            <span class="p-companyHistory__subYear">1960</span>資本金3000万円に増資
          </li>
          <li>
            <span class="p-companyHistory__subYear">1961</span>中野工場から川崎市登戸へ本社機能及び工場を移転
          </li>
          <li>
            <span class="p-companyHistory__subYear">1962</span>資本金8000万円に増資
          </li>
          <li>
            <span class="p-companyHistory__subYear">1965</span>資本金1億2800万円に増資
          </li>
          <li>
            <span class="p-companyHistory__subYear">1967</span>愛知工場開設
          </li>
          <li>
            <span class="p-companyHistory__subYear">1969</span>川崎市登戸から生田（現在地）へ本社工場を移転
          </li>
        </ul>
      </div>
      <div class="p-companyHistory__section u-d-flex">
        <p class="p-companyHistory__mainYear u-show--pc">1985</p>
        <div class="p-companyHistory__line u-show--pc">
          <span class="p-companyHistory__lineCircle"></span>
        </div>
        <ul class="p-companyHistory__list">
          <li>
            <span class="p-companyHistory__subYear">1985</span>米国オハイオ州に電元社アメリカを設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">1988</span>富山工場開設
          </li>
          <li>
            <span class="p-companyHistory__subYear">1989</span>電元サービス株式会社を設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">1992</span>トランスでGSマーク認定取得（国内の溶接機メーカーで初）
          </li>
          <li>
            <span class="p-companyHistory__subYear">1996</span>英国に電元社ヨーロッパを設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">1998</span>ISO品質保証システムISO9001認証取得
          </li>
          <li>
            <span class="p-companyHistory__subYear">2001</span>インドネシア・ジャカルタ郊外に溶接機器生産工場である電元社インドネシアを設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">2005</span>本社工場に創立70周年記念展示室を開設
          </li>
        </ul>
      </div>
      <div class="p-companyHistory__section u-d-flex">
        <p class="p-companyHistory__mainYear u-show--pc">2010</p>
        <div class="p-companyHistory__line u-show--pc">
          <span class="p-companyHistory__lineCircle"></span>
        </div>
        <ul class="p-companyHistory__list">
          <li>
            <span class="p-companyHistory__subYear">2013</span>メキシコ・レオンに電元社メキシコを設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">2014</span>タイ・バンコクに電元社タイランドを設立<br>ナストーア溶接テクノロジー株式会社を100%子会社化
          </li>
          <li>
            <span class="p-companyHistory__subYear">2015</span>インド・チェンナイに電元社インドを設立
          </li>
          <li>
            <span class="p-companyHistory__subYear">2017</span>ナストーア溶接テクノロジー株式会社と合併<br>社名を電元社トーア株式会社に変更
          </li>
          <li>
            <span class="p-companyHistory__subYear">2018</span>ドイツ・ディーツに電元社ドイツを設立
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="p-company-places" class="p-companyPlaces">
    <div class="p-companyPlaces__square"></div>
    <div class="p-companyPlaces__main">
      <div class="p-companyPlaces__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-companyPlaces__heading p-companySectionHeading">本社・工場</h2>
      <div class="p-companyPlaces__wrap">
        <div id="mainOffice" class="p-companyPlaces__content">
          <img class="p-companyPlaces__topImage" src="/img/images/company-places-1.jpg" alt="">
          <div class="p-companyPlaces__addressWrap">
            <p class="p-companyPlaces__addressHeading">本社・本社工場</p>
            <p class="p-companyPlaces__address">
              〒214-8588<br>
              神奈川県川崎市多摩区枡形1-23-1
            </p>
            <div class="p-companyPlaces__tell">
              <a href="tel:044-922-1121" class="u-d-flex u-align-items-center p-companyPlaces__tellNumber">
                <img src="/img/icons/icon-white-tell.svg" alt="" width="12" height="12">
                044-922-1121(代)
              </a>
              <span class="u-d-flex u-align-items-center p-companyPlaces__faxNumber">
                <img src="/img/icons/icon-white-fax.svg" alt="" width="15" height="12">
                044-922-1100
              </span>
            </div>
          </div>
          <div class="p-companyPlaces__accessWrap">
            <p class="p-companyPlaces__accessLogo">アクセス</p>
            <p class="p-companyPlaces__access">
              小田急線向ヶ丘遊園駅南口から<br>
              当社専用バスで約7分
            </p>
            <p class="p-companyPlaces__accessLinkWrap">
              <a href="/img/pdfs/dengenshatoa_bus-schedule.pdf" class="p-companyPlaces__accessLink" target="_blank" rel="noopener noreferrer">
                時刻表はこちら
                <img src="/img/icons/icon-white-chevron-right.svg" alt="" class="p-companyPlaces__">
              </a>
            </p>
          </div>
        </div>
        <div id="ohmiOffice" class="p-companyPlaces__content">
          <img class="p-companyPlaces__topImage" src="/img/images/company-places-2.jpg" alt="">
          <div class="p-companyPlaces__addressWrap">
            <p class="p-companyPlaces__addressHeading">近江工場</p>
            <p class="p-companyPlaces__address">
              〒520-3285<br>
              滋賀県湖南市小砂町4-4
            </p>
            <div class="p-companyPlaces__tell">
              <a href="tel:0748-75-1251" class="u-d-flex u-align-items-center p-companyPlaces__tellNumber">
                <img src="/img/icons/icon-white-tell.svg" alt="" width="12" height="12">
                0748-75-1251
              </a>
              <span class="u-d-flex u-align-items-center p-companyPlaces__faxNumber">
                <img src="/img/icons/icon-white-fax.svg" alt="" width="15" height="12">
                0748-75-1260
              </span>
            </div>
          </div>
          <div class="p-companyPlaces__accessWrap">
            <p class="p-companyPlaces__accessLogo">アクセス</p>
            <p class="p-companyPlaces__access">
              JR三雲駅よりバス・タクシーで約10分
            </p>
          </div>
        </div>
        <div id="toyamaOffice" class="p-companyPlaces__content">
          <img class="p-companyPlaces__topImage" src="/img/images/company-places-3.jpg" alt="富山工場">
          <div class="p-companyPlaces__addressWrap">
            <p class="p-companyPlaces__addressHeading">富山工場</p>
            <p class="p-companyPlaces__address">
              〒933-0251<br>
              富山県射水市有磯2-27-2
            </p>
            <div class="p-companyPlaces__tell">
              <a href="tel:0766-86-3113" class="u-d-flex u-align-items-center p-companyPlaces__tellNumber">
                <img src="/img/icons/icon-white-tell.svg" alt="" width="12" height="12">
                0766-86-3113
              </a>
              <span class="u-d-flex u-align-items-center p-companyPlaces__faxNumber">
                <img src="/img/icons/icon-white-fax.svg" alt="" width="15" height="12">
                0766-86-2010
              </span>
            </div>
          </div>
          <div class="p-companyPlaces__accessWrap">
            <p class="p-companyPlaces__accessLogo">アクセス</p>
            <p class="p-companyPlaces__access">
              JR小杉駅より10㎞　タクシーで20分<br>
              JR富山駅より12㎞　タクシーで25分
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {# TODO: Mapボタン削除決定したらコメント削除してスタイルを消す #}
  <section id="p-company-office" class="p-companyOffice js-moreButtonTargetWrap">
    <div class="p-companyOffice__headingWrap">
      <div class="p-companyOffice__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-companyOffice__heading p-companySectionHeading">国内事業所案内</h2>
    </div>
    <table class="p-companyOffice__table">
      <thead class="u-show--pc">
        <tr>
          <th class="p-companyOffice__tableHeading">事業所</th>
          <th class="p-companyOffice__tableHeading">所在地</th>
        </tr>
      </thead>
      <tbody class="js-moreButtonTarget" data-border='3'>
        <tr>
          <td class="p-companyOffice__tableDescription">
            本社 <span class="u-d-inline-block">海外事業部</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 214-8588<br>
            神奈川県川崎市多摩区枡形1-23-1
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:044-922-1117" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                044-922-1117
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                044-932-8008
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_overseas@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            本社 <span class="u-d-inline-block">営業・システム課</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 214-8588<br>
            神奈川県川崎市多摩区枡形1-23-1
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:044-922-1121" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                044-922-1121
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                044-922-1100
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_sales@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">北関東支店</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 373-0852<br>
            群馬県太田市新井町517-6（オオタコアビル）
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:0276-46-6621" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                0276-46-6621
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                0276-46-6622
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_kitakanto@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">東海支店</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 448-0013<br>
            愛知県刈谷市恩田町2-151-3
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:0566-63-5318" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                0566-63-5318
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                0566-28-7053
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_tokai.sales@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">浜松営業所</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 430-0939<br>
            静岡県浜松市中区連尺町307-14（出雲殿互助会連尺ビル）
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:053-401-0321" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                053-401-0321
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                053-401-0322
              </span>
            </div>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">関西支店</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 531-0075<br>
            大阪府大阪市北区大淀南1-9-16（山彦ビル）
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:06-6451-0521" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                06-6451-0521
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                06-6451-0522
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_kansai@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">西日本支店</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 730-0013<br>
            広島県広島市中区八丁堀15-10（セントラルビル）
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:06-6451-0522" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                082-225-2573
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                082-225-2574
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_hiroshima@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
        <tr>
          <td class="p-companyOffice__tableDescription">
            <span class="u-d-inline-block">九州営業所</span>
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--address">
            &#12306; 800-0361<br>
            福岡県京都郡苅田町神田町1-6-1
          </td>
          <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--contact">
            <div class="p-companyOffice__tableContacts">
              <a href="tel:093-435-0071" class="p-companyOffice__tableTellWrap">
                <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                093-435-0071
              </a>
              <span>
                <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                093-435-0072
              </span>
            </div>
            <p class="p-companyOffice__tableMailWrap">
              <span>
                <img src="/img/icons/icon-black-mail.svg" alt="" width="14" height="11">
                dgt_kyushu@dengenshatoa.co.jp
              </span>
            </p>
          </td>
          {# <td class="p-companyOffice__tableDescription p-companyOffice__tableDescription--map">
            <a class="p-companyOffice__tableMap" href="">Map</a>
          </td> #}
        </tr>
      </tbody>
    </table>
    <p class="p-companyMoreContentWrap u-show--sp">
      <button class="p-companyMoreContent js-moreButton" type="button">
        もっと見る
      </button>
    </p>
  </section>
  <section id="p-company-overseas" class="p-companyOverseas js-moreButtonTargetWrap">
    <div class="p-companyOverseas__headingWrap">
      <div class="p-companyOverseas__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-companyOverseas__heading p-companySectionHeading">海外事業所案内</h2>
    </div>
      {# TODO: 画像にドロップシャドウ入れる #}
    <div class="p-companyOverseas__contentsWrap">
      <div class="p-companyOverseas__main">
        <div class="p-companyOverseas__contents js-moreButtonTarget" data-border='3'>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-1.jpg" alt="" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社アメリカ</span>
                <span class="p-companyOverseas__placeName">クリーブランド本社</span>
              </p>
              <p class="p-companyOverseas__address">7647 First Place DriveBedford, Ohio 44146</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +1(440)439-8081
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +1(440)439-8217
                </span>
              </div>
              <a href="http://dengensha.com/" class="u-link-hoverLine--black u-link-hoverLine u-link-hoverLine--thin p-companyOverseas__link" target="_blank">
                <img src="/img/icons/icon-black-link.svg" alt="" width="14" height="14">
                <span class="u-link-hoverLine__text">
                  http://dengensha.com/
                </span>
              </a>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-2.jpg" alt="電元社アメリカ シンシナティ支社" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社アメリカ</span>
                <span class="p-companyOverseas__placeName">シンシナティ支社</span>
              </p>
              <p class="p-companyOverseas__address">300 E Business Way, Suite 200 #225, Summit Woods Corp Center, Cincinnati, OH 45241</p>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-3.jpg" alt="電元社アメリカ アトランタ支社" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社アメリカ</span>
                <span class="p-companyOverseas__placeName">アトランタ支社</span>
              </p>
              <p class="p-companyOverseas__address">3235 Satellite Blvd 400, Suite 300 #315, Duluth,GA</p>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-4.jpg" alt="電元社メキシコ" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社メキシコ</span>
              </p>
              <p class="p-companyOverseas__address">Blvd. Francisco Villa #1001-E Jardines de Oriente C.P. 37257 Leon, Guanajuat, Mexico</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +52(477)226-9327
                </a>
              </div>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-5.jpg" alt="電元社ヨーロッパ" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社ヨーロッパ</span>
              </p>
              <p class="p-companyOverseas__address">Unit 8, Birchbrook Industrial Park, Birchbrook Lane, Shenstone, Staffordshire, WS14 0DJ</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +44(1543)481844
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +44(1543)481851
                </span>
              </div>
              <a href="http://www.dengensha.co.uk/en/" class="u-link-hoverLine--black u-link-hoverLine u-link-hoverLine--thin p-companyOverseas__link" target="_blank">
                <img src="/img/icons/icon-black-link.svg" alt="" width="14" height="14">
                <span class="u-link-hoverLine__text">
                  http://www.dengensha.co.uk/en/
                </span>
              </a>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-6.jpg" alt="電元社ドイツ" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社ドイツ</span>
              </p>
              <p class="p-companyOverseas__address">Werner-von-Siemens-Str. 5 65582 Diez, Germany</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +49(6432)80005-0
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +49(6432) 80005-29
                </span>
              </div>
                <a href="http://www.dengensha.de/" class="u-link-hoverLine--black u-link-hoverLine u-link-hoverLine--thin p-companyOverseas__link" target="_blank">
                  <img src="/img/icons/icon-black-link.svg" alt="" width="14" height="14">
                  <span class="u-link-hoverLine__text">
                    http://www.dengensha.de/
                  </span>
                </a>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-7.jpg" alt="電元社インドネシア" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社インドネシア</span>
              </p>
              <p class="p-companyOverseas__address">Dusun Calung Rt/Rw:04/01 Desa Karang Mulya,Kec Teluk Jambe Karawang-41361 Indonesia</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +62(267)415807
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +62(267)415810
                </span>
              </div>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-8.jpg" alt="電元社タイランド" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社タイランド</span>
              </p>
              <p class="p-companyOverseas__address">No.1/3, Bangna Thani BLDG, Soi Bangna-Trad 34,Bangna-Trad Rd, km.3, Bangnatai, Bangna, Bangkok 10260</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +66(2)399-3201
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +66(2)399-3204
                </span>
              </div>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-9.jpg" alt="電元社インド チェンナイ本社" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社インド</span>
                <span class="p-companyOverseas__placeName">チェンナイ本社</span>
              </p>
              <p class="p-companyOverseas__address">53 (N.P) Developed Plots Industrial Estate, Ekkattuthangal, ChennaiTamil Nadu India–600032</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +91(44)2233-1033
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +91(44)2233-1033
                </span>
              </div>
            </div>
          </div>
          <div class="p-companyOverseas__content">
            <img class="p-companyOverseas__img" src="/img/images/company-overseas-10.jpg" alt="電元社インド グルガーオン支店" width="180">
            <div class="p-companyOverseas__textWrap">
              <p class="p-companyOverseas__place">
                <span class="p-companyOverseas__placeName">電元社インド</span>
                <span class="p-companyOverseas__placeName">グルガーオン支店</span>
              </p>
              <p class="p-companyOverseas__address">Regus Business Center Unitech Cyber Park 10th floor Room NO1026 Tower-B Unitech Cyber Park Sector 39, Gurugram Haryana 122001 India</p>
              <div class="p-companyOverseas__contact">
                <a href="tel:" class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                  TEL +91(124)642860
                </a>
                <span class="p-companyOverseas__tellWrap">
                  <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                  FAX +91(124)6428600
                </span>
              </div>
            </div>
          </div>
        </div>
        <p class="p-companyMoreContentWrap u-show--sp">
          <button class="p-companyMoreContent js-moreButton" type="button">
            もっと見る
          </button>
        </p>
      </div>
      <div id="p-company-overseas-agency" class="p-companyOverseas__agencyWrap js-moreButtonTargetWrap">
        <h3 class="p-companyOverseas__sectionTitle">海外主要代理店一覧</h3>
        <div class="p-companyOverseas__agency">
          <table class="p-companyOverseas__table">
            <thead class="u-show--pc">
              <tr>
                <th class="p-companyOverseas__tableHeading">海外主要代理店</th>
                <th class="p-companyOverseas__tableHeading">エリア</th>
              </tr>
            </thead>
            <tbody class="js-moreButtonTarget" data-border='3'>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  信邦有限公司
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  中国
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +86-20-8858-1856
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +86-20-8858-1861
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  康吉森国際（香港）有限公司
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  中国
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +86(10)5852-7895
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +86(10)5852-7894
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  安徳貿易股份有限公司
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  台湾
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +886(2)2600-7505
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +886(2)2600-7900
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  PT.UNGGUL SEMESTA
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  インドネシア
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +62(21)897-3731
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +62(21)897-3736
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  PANWELD SDN BHD
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  マレーシア
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +60(3)5637-1833
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +60(3)5637-2013
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  ACT OTOMOTiV
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  トルコ
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +90(224)241-2631
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +90(224)241-2633
                  </span>
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  YMA Solutions in Engineering
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  ブラジル
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +55(12)98115-5395
                  </a>
                  <span class="p-companyOverseas__tableMailWrap" />
                </td>
              </tr>
              <tr>
                <td class="p-companyOverseas__tableDescription">
                  SVARCON-SERVICE LTD.
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--address">
                  ロシア
                </td>
                <td class="p-companyOverseas__tableDescription p-companyOverseas__tableDescription--tell">
                  <a href="tel:" class="p-companyOverseas__tableTellWrap">
                    <img src="/img/icons/icon-black-tell.svg" alt="" width="12" height="12">
                    +7(812)336-2952
                  </a>
                  <span class="p-companyOverseas__tableMailWrap">
                    <img src="/img/icons/icon-black-fax.svg" alt="" width="15" height="12">
                    +7(812)336-2953
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <p class="p-companyMoreContentWrap u-show--sp">
            <button class="p-companyMoreContent js-moreButton" type="button">
              もっと見る
            </button>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="p-company-client" class="p-companyClient js-moreButtonTargetWrap">
    <div class="p-companyClient__sectionLogoWrap">
      {{ sectionLogo(
        usecase="sectionheading"
      ) }}
    </div>
    <h2 class="p-companyClient__heading p-companySectionHeading">主要取引先</h2>
    <div class="p-companyClient__listWrap js-moreButtonTarget" data-border='1'>
      <ul class="p-companyClient__list">
        <li>（株）IHI</li>
        <li>（株）アイシン</li>
        <li> いすゞ自動車（株）</li>
        <li>（株）稲葉製作所</li>
        <li>（株）エイチワン</li>
        <li>（株）エフテック</li>
        <li>岡本プレス工業（株）</li>
        <li>川崎重工業（株）</li>
        <li>（株）キーレックス</li>
        <li>（株）協豊製作所</li>
        <li>（株）旭洋工業製作所</li>
        <li>（株）クレファクト</li>
        <li>（株）神戸製鋼所</li>
        <li>（株）ジーテクト</li>
        <li>JFEスチール（株）</li>
        <li>ジヤトコ（株）</li>
        <li>スズキ（株）</li>
        <li>（株）SUBARU
        <li>住友重機械工業（株）</li>
        <li>積水化学工業（株）</li>
        <li>（株）総合車両製作所</li>
        <li>（株）ダイクレ</li>
        <li>（株）ダイセル</li>
        <li>ダイハツ工業（株）</li>
      </ul>
      <ul class="p-companyClient__list">
        <li>中央精機（株）</li>
        <li>THK（株）</li>
        <li>THKリズム（株）</li>
        <li>（株）デンソー</li>
        <li>東亜工業（株）</li>
        <li>東京ラヂエーター製造（株）</li>
        <li>（株）東芝</li>
        <li>東プレ（株）</li>
        <li>トピー工業（株）</li>
        <li>トヨタ自動車（株）</li>
        <li>トヨタ自動車東日本（株）</li>
        <li>（株）豊田自動織機</li>
        <li>トヨタ車体（株）</li>
        <li>豊田鉄工（株）</li>
        <li>日産自動車（株）</li>
        <li>日産車体（株）</li>
        <li>日産車体マニュファクチュアリング（株）</li>
        <li>日鍛バルブ（株）</li>
        <li>日本金属工業（株）</li>
        <li>日本車輌製造（株）</li>
        <li>日本製鉄（株）</li>
        <li>日本発条（株）</li>
        <li>パナソニック（株）</li>
        <li>日立Astemo（株）</li>
      </ul>
      <ul class="p-companyClient__list">
        <li>（株）日立製作所</li>
        <li>日野自動車（株）</li>
        <li>（株）ヒロテック</li>
        <li>ファナック（株）</li>
        <li>フタバ産業（株）</li>
        <li>プレス工業（株）</li>
        <li>本田技研工業（株）</li>
        <li>マツダ（株）</li>
        <li>丸紅（株）</li>
        <li>三菱自動車工業（株）</li>
        <li>三菱重工業（株）</li>
        <li>三菱電機（株）</li>
        <li>（株）安川電機</li>
        <li>八千代工業（株）</li>
        <li>ヤマハ発動機（株）</li>
        <li>UDトラックス（株）</li>
        <li>ユニプレス（株）</li>
        <li>（株）ヨロズ</li>
        <li>リンテックス（株）</li>
        <li>（株）ワイテック</li>
      </ul>
    </div>
    <p class="p-companyMoreContentWrap u-show--sp">
      <button class="p-companyMoreContent js-moreButton" type="button">
        もっと見る
      </button>
    </p>
  </section>
</div>
