
.p-notFonudContent {
  background-color: #fff;
  padding: 5% 15% 234px;
  position: relative;
}

.p-notFonudContent__heading {
  margin-top: 22px;
  letter-spacing: 4px;
  font-size: 2.25rem;
  font-weight: normal;
}

.p-notFonudContent__text {
  margin-top: 50px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}
