.p-catalogContent {
  & input[type=checkbox] {
    display: none;
  }

  &__introduction {
    padding: 4% 15.3% 2.7%;
  }

  &__sectionHeading {
    margin-top: 26px;
    letter-spacing: 4px;
    font-size: 2.25rem;
    font-weight: normal;
  }

  &__introductionText {
    margin-top: 28px;
    letter-spacing: 1px;
    line-height: 1.65;
  }

  &__form {
    padding: 2% 15.3% 4%;

    &Row {
      display: flex;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    &MustLogo {
      color: var(--color_fff);
      background-color: #be0f16;
      font-size: 0.75rem;
      padding: 2.4px 12px;
    }

    &Team,
    &SelectTermWrap {
      font-size: 0.93rem;
      font-weight: 500;
    }

    &Input {
      width: 100%;
      padding: 15px 18px;
      border: 1px solid #b3b3b3;
      font-size: 1rem;
      border-radius: 4px;

      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder {
        opacity: 0.4;
      }

      &&--harf {
        width: 36.5%;

        &:not(:first-of-type) {
          margin-left: 20px;
        }
      }
    }

    &Checkbox {
      position: relative;
      padding: 0 0 0 28px;
      font-size: 0.93rem;

      &Wrap {
        display: block;

        &:not(:first-of-type) {
          margin-top: 12px;
        }
      }

      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        transform: translateY(-50%);
        background-color: var(--color_fff);
      }

      input[type=checkbox]:checked + & {
        &::before {
          background-color: var(--color_purple);
        }

        &::after {
          position: absolute;
          content: '';
          display: inline-block;
          top: 6px;
          left: 5px;
          width: 11px;
          height: 8px;
          border-left: 2px solid var(--color_fff);
          border-bottom: 2px solid var(--color_fff);
          border-radius: 1px;
          transform: rotate(-45deg);
        }
      }
    }

    &ToNext {
      margin-top: 152px;
      padding-top: 30px;
      text-align: center;
      border-top: 1px solid #b3b3b3;

      & .u-link-button {
        padding: 19px 112px;
      }

      & .c-footerMailText {
        margin-left: 0;
      }
    }
  }
}

@media (--pc-viewport) {
  .p-catalogContent {
    padding-bottom: 3%;

    &__form {
      background-color: #f0f0f0;

      &SelectRow {
        margin-top: 43px;
        display: flex;
      }

      &SelectTermWrap {
        width: calc(26.5% - 32px);
        margin-right: 30px;
      }

      &TeamWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(26.5% - 32px);
        margin-right: 30px;
      }

      &InputWrap {
        width: calc(73.5% + 2px);
      }
    }
  }
}

@media (--sp-viewport) {
  .p-catalog .u-heading {
    padding-top: 75px;
    padding-bottom: 35px;

    &__main {
      font-size: 2.5rem;
      margin-top: 4px;
    }
  }

  .p-catalogContent {
    &__introduction {
      padding: 15% 3% 2.7% 6.2%;
    }

    &__form {
      padding: 12% 5% 41% 6.2%;

      &Row {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }

      &Team {
        display: block;
      }

      &MustLogo {
        display: inline-block;
        margin-top: 5px;
      }

      &TeamWrap {
        width: 34%;
      }

      &InputWrap {
        width: calc(66% - 7px);
        margin-left: 7px;
      }

      &Input {
        padding: 15px 0;
        font-size: 0.93rem;

        &&--harf {
          width: calc(50% - 8px);

          &:not(:first-of-type) {
            margin-left: 8px;
          }
        }
      }

      &SelectRow {
        margin-top: 34px;

        & .p-catalogContent__formInputWrap {
          width: 100%;
          margin-left: 0;
          padding: 20px 0 0 20px;
        }
      }

      &ToNext {
        margin-top: 66px;
      }
    }
  }
}
