.p-catalog,
.p-catalogConfirmation {
  & .u-link-button {
    padding: 19px 0;
  }

  & .c-footerMailText {
    margin-left: 0;
  }
}

.p-catalogContent {
  & input[type=checkbox] {
    display: none;
  }

  &__introduction {
    padding: 4% 15.3% 2.7%;

    .p-catalogComplete & {
      padding: 4% 15.2% 234px;
    }
  }

  &__sectionHeading {
    margin-top: 26px;
    letter-spacing: 4px;
    font-size: 2.25rem;
    font-weight: normal;
  }

  &__introductionText {
    margin-top: 28px;
    letter-spacing: 1px;
    line-height: 1.65;

    .p-catalogComplete & {
      margin-top: 50px;
      letter-spacing: 1.6px;
    }
  }

  &__form {
    padding: 2% 15.3% 7%;

    &Row {
      display: flex;

      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }

    &MustLogo {
      color: var(--color_fff);
      background-color: #be0f16;
      white-space: nowrap;
      font-size: 0.75rem;
      padding: 2.4px 12px;
    }

    &Team,
    &SelectTermWrap {
      font-size: 0.93rem;
      font-weight: 500;
    }

    &Input {
      width: 100%;
      padding: 15px 18px;
      border: 1px solid #b3b3b3;
      font-size: 1rem;
      border-radius: 4px;

      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder {
        opacity: 0.4;
      }

      &&--harf {
        width: 36.5%;

        &:not(:first-of-type) {
          margin-left: 20px;
        }
      }
    }

    &ConfirmName {
      display: inline-block;
      margin-left: 28px;
    }

    &ErrorMessage {
      color: #be0f16;
      font-weight: bold;
      display: block;
      margin-top: 10px;
    }

    &Checkbox {
      position: relative;
      padding: 0 0 0 28px;
      font-size: 0.93rem;

      &Wrap {
        display: block;

        &:not(:first-of-type) {
          margin-top: 12px;
        }
      }

      &::before {
        position: absolute;
        content: '';
        display: inline-block;
        left: 0;
        top: 50%;
        width: 20px;
        height: 20px;
        border: 1px solid #b3b3b3;
        border-radius: 3px;
        transform: translateY(-50%);
        background-color: var(--color_fff);
      }

      input[type=checkbox]:checked + & {
        &::before {
          border: none;
          background-color: var(--color_purple);
        }

        &::after {
          position: absolute;
          content: '';
          display: inline-block;
          top: 6px;
          left: 5px;
          width: 11px;
          height: 8px;
          border-left: 2px solid var(--color_fff);
          border-bottom: 2px solid var(--color_fff);
          border-radius: 1px;
          transform: rotate(-45deg);
        }
      }
    }

    &ButtonWrap {
      margin-top: 152px;
      padding-top: 30px;
      text-align: center;
      border-top: 1px solid #b3b3b3;

      .p-catalogConfirmation & {
        margin-top: 96px;
      }
    }

    &ConfirmIntroduction {
      font-size: 1.25rem;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    &ConfirmTable {
      width: 100%;
      border-spacing: 0 32px;
      border-collapse: inherit;
    }

    &ConfirmRow {
      font-weight: 500;
    }

    &ConfirmTeam {
      width: 100px;
      padding: 10px 15px;
      font-size: 0.93rem;
      white-space: nowrap;
      text-align: left;
      background-color: var(--color_fff);
    }
  }
}

@media (--pc-viewport) {
  .p-catalogContent {
    &__form {
      background-color: #f0f0f0;

      &SelectRow {
        margin-top: 43px;
        display: flex;
      }

      &SelectTermWrap {
        width: calc(26.5% - 32px);
        margin-right: 30px;
      }

      &TeamWrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(26.5% - 32px);
        margin-right: 30px;
        margin-top: 16px;
      }

      &InputWrap {
        width: calc(73.5% + 2px);
      }

      &MustLogo {
        margin-left: 8px;
      }

      &Confirm {
        padding-top: 18px;
      }

      &ConfirmRow {
        &:not(:first-of-type) {
          margin-top: 31px;
        }
      }

      &ConfirmDescription {
        padding-left: 10%;
        letter-spacing: -1px;
      }

      &Button {
        width: calc(33.2% - 24px);
        border: none;
        cursor: pointer;

        &:not(:first-of-type) {
          margin-left: 48px;
        }
      }
    }
  }
}

@media (--sp-viewport) {
  .p-catalog .u-heading,
  .p-catalogConfirmation .u-heading,
  .p-catalogComplete .u-heading {
    padding-top: 75px;
    padding-bottom: 35px;

    &__main {
      font-size: 2.5rem;
      margin-top: 4px;
    }
  }

  .p-catalogContent {
    &__introduction {
      padding: 15% 3% 8% 6.2%;

      .p-catalogComplete & {
        padding: 38px 3% 323px 6.6%;
      }

      &Text {
        .p-catalogComplete & {
          margin-top: 40px;
        }
      }
    }

    &__sectionHeading {
      .p-catalogComplete & {
        font-size: 1.75rem;
        letter-spacing: 3px;
        line-height: 1.4;
      }
    }

    &__form {
      padding: 28px 5% 154px 6.3%;

      .p-catalogConfirmation & {
        background-color: #f0f0f0;
        padding-top: 0;
      }

      &Row {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }

      &Team {
        display: block;
      }

      &MustLogo {
        display: inline-block;
        margin-top: 5px;
      }

      &TeamWrap {
        width: 34%;
      }

      &InputWrap {
        width: calc(66% - 7px);
        margin-left: 7px;
      }

      &Input {
        padding: 15px 0;
        font-size: 0.93rem;

        &&--harf {
          width: calc(50% - 8px);

          &:not(:first-of-type) {
            margin-left: 8px;
          }
        }
      }

      &SelectRow {
        margin-top: 34px;

        & .p-catalogContent__formInputWrap {
          width: 100%;
          margin-left: 0;
          padding: 20px 0 0 20px;
        }
      }

      &ButtonWrap {
        margin-top: 66px;

        .p-catalogConfirmation & {
          margin-top: 64px;
        }
      }

      &ConfirmTable {
        letter-spacing: -1px;
      }

      &ConfirmRow {
        display: flex;
        flex-direction: column;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }

      &ConfirmTeam {
        width: 100%;
        white-space: inherit;
      }

      &ConfirmDescription {
        margin-top: 22px;
        padding-left: 16px;
      }

      &Button {
        width: 100%;

        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }
    }
  }
}
