@font-face {
  font-family: 'DIN 30640 Std';
  src: url('/fonts/DIN-30640-Std-Neuzeit-Grotesk-Light.otf') format('opentype');
}

.p-company {
  position: relative;
}

.p-companyMoreContent {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color_purple);
  border: 1px solid var(--color_purple);
  padding: 15px 80px;
  border-radius: 30px;
  margin-top: 35px;

  &Wrap {
    text-align: center;
  }
}

.p-companySectionHeading {
  letter-spacing: 4px;
  font-size: 2.25rem;
  font-weight: 300;

  .p-companyIntroduction &,
  .p-companyOffice &,
  .p-companyClient & {
    margin-top: 25px;
  }

  .p-companyHistory &,
  .p-companyPlaces &,
  .p-companyOverseas & {
    margin-top: 26px;
  }
}

.p-companyIntroduction__content {
  padding-bottom: 6.8%;
}

.p-companyIntroduction__heading {
  padding: 0 15.2%;
}

.p-companyIntroduction__table {
  & tbody {
    border-top: 1px solid #b3b3b3;
  }

  &Term {
    text-align: left;
    font-weight: 500;
    background-color: #f0f4fa;
  }

  &Row {
    border-bottom: 1px solid #b3b3b3;
  }

  &Emp {
    color: var(--color_purple);
    font-weight: 500;
  }

  &Products {
    line-height: 1.7;
  }
}

.p-companyHistory {
  padding: 4.2% 15.2% 0;
  background-color: #f0f0f0;

  &__content {
    margin-top: 18px;
  }

  &__section {
    &:first-of-type {
      & .p-companyHistory__mainYear {
        padding-top: 22px;
      }
    }

    &:not(:first-of-type) {
      & .p-companyHistory__mainYear {
        padding-top: 6px;
      }
    }
  }

  &__mainYear {
    font-size: 6.25rem;
    color: #000;
    opacity: 0.14;
    letter-spacing: -8px;
    font-family: 'DIN 30640 Std';
    margin-right: 49px;
    white-space: nowrap;
  }

  &__line {
    position: relative;
    width: 3px;
    height: auto;
    background-color: rgba(86, 82, 204, 0.5);
    margin-right: 44px;
    flex-shrink: 0;
  }

  &__dots {
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -1px;
    box-sizing: content-box;
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
  }

  &__dot {
    width: 3px;
    height: 13px;
    background-color: rgba(86, 82, 204, 0.15);
    margin-bottom: 5px;
  }

  &__lineCircle {
    position: absolute;
    top: 52px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(41%);
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;

    &::before {
      display: inline-block;
      background-color: rgba(86, 82, 204, 0.3);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
    }

    &::after {
      display: inline-block;
      padding: 4px;
      background-color: var(--color_vivid_purple);
      opacity: 1;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      content: '';
    }
  }

  &__list {
    letter-spacing: 1px;
    line-height: 1.4;
    padding: 18px 0 26px;

    & > li {
      display: flex;

      &:not(:first-of-type) {
        margin-top: 10px;
      }
    }
  }

  &__subYear {
    color: var(--color_vivid_purple);
    font-weight: 400;
    margin-right: 16px;
    white-space: nowrap;
  }
}

.p-companyPlaces {
  position: relative;
  margin-top: 180px;
  color: var(--color_fff);

  &__square {
    position: absolute;
    top: -100px;
    right: 0;
    background-color: var(--color_red);
    width: 28%;
    height: 67%;
    z-index: -1;
  }

  &__main {
    background-color: var(--color_purple);
    width: 88.7%;
    padding: 4% 3% 6% 15%;
  }

  &__wrap {
    margin-top: 50px;
  }

  &__topImage {
    width: 100%;
    display: inline-block;
  }

  &__addressWrap {
    margin-top: 22px;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;
  }

  &__addressHeading {
    font-weight: bold;
    letter-spacing: 3px;
  }

  &__address {
    margin-top: 13px;
    letter-spacing: 1px;
  }

  &__tell {
    margin-top: 15px;
    letter-spacing: 1px;
  }

  &__tellNumber {
    & > img {
      margin-right: 9px;
    }
  }

  &__faxNumber {
    margin-top: 6px;

    & > img {
      margin-right: 6px;
    }
  }

  &__accessWrap {
    padding-top: 16px;
  }

  &__accessLogo {
    font-size: 0.75rem;
    font-weight: bold;
    color: #373778;
    background-color: #fff;
    display: inline-block;
    padding: 2px 4px 1px;
  }

  &__access {
    margin-top: 8px;
    letter-spacing: 0.8px;
    line-height: 1.6;
  }

  &__accessLinkWrap {
    margin-top: 9px;
    font-weight: bold;
  }
}

.p-companyOffice {
  padding: 4.4% 15.2% 0;

  &__table {
    width: 100%;
    text-align: left;
    margin-top: 53px;

    & thead {
      color: var(--color_purple);
      font-weight: bold;
    }

    & tbody > tr {
      &:nth-of-type(2n - 1) {
        background-color: #f0f4fa;
      }
    }
  }

  &__tableHeading {
    padding-bottom: 9px;

    &:first-of-type {
      padding-left: 10px;
      padding-right: 3px;
    }
  }

  &__tableDescription {
    &:first-of-type {
      font-weight: 400;
    }

    &--address {
      letter-spacing: 0.2px;
    }
  }

  &__tableContacts {
    display: flex;
    letter-spacing: 0.4px;
    white-space: nowrap;
  }

  &__tableTellWrap {
    margin-right: 20px;

    & > img {
      margin-right: 3px;
    }
  }

  &__tableMailWrap {
    letter-spacing: -0.7px;
  }

  &__tableMap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 14px;
    background-color: var(--color_purple);
    color: var(--color_fff);
    border-radius: 14px;
    font-size: 0.937rem;
    vertical-align: text-top;
  }
}

.p-companyOverseas {
  padding: 4.6% 15.2% 7%;

  &__sectionTitle {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 1.4px;
  }

  &__contentsWrap {
    margin-top: 52px;
  }

  &__contents {
    margin-top: 8px;
  }

  &__content {
    padding: 20px 0;
  }

  &__textWrap {
    margin-left: 21px;
  }

  &__place {
    letter-spacing: 0.2px;
    display: flex;
  }

  &__placeName {
    font-weight: 400;

    &:not(:first-of-type) {
      margin-left: 6px;
      padding-left: 7px;
      border-left: 1px solid #dbdbdb;
    }
  }

  &__address {
    margin-top: 15px;
    letter-spacing: 1px;
  }

  &__contact {
    margin-top: 6px;
  }

  &__tellWrap {
    display: flex;
    align-items: center;
    letter-spacing: 1.1px;

    & > img {
      margin-right: 9px;
    }
  }

  &__link {
    letter-spacing: 1.4px;
    margin-top: 6px;
    display: inline-block;
  }

  &__agencyWrap {
    margin-top: 34px;
  }

  &__agency {
    margin-top: 30px;
  }

  &__table {
    width: 100%;

    & thead {
      letter-spacing: 1px;
      color: #a62121;
      font-weight: bold;
    }

    & tbody > tr {
      &:nth-of-type(2n - 1) {
        background-color: #faf7f7;
      }
    }
  }

  &__tableHeading {
    padding: 0 9px 9px;
    white-space: nowrap;
  }

  &__tableDescription {
    &:first-of-type {
      font-weight: 400;
    }

    &--address {
      font-size: 0.937rem;
      letter-spacing: 0.2px;
    }

    &--tell {
      display: flex;
      justify-content: flex-start;
    }
  }

  &__tableTellWrap {
    display: flex;
    letter-spacing: 0.2px;
    flex: 1 1 0;

    & > img {
      margin-top: 5px;
      margin-right: 3px;
    }
  }

  &__tableMailWrap {
    display: flex;
    letter-spacing: 0.2px;
    flex: 1 1 0;

    & > img {
      margin-top: 5px;
      margin-right: 3px;
    }
  }
}

.p-companyClient {
  background-color: #f0f0f0;
  padding: 4% 15.2% 7%;

  &__listWrap {
    margin-top: 50px;
  }

  &__list {
    letter-spacing: 0.8px;
  }
}

@media (--pc-viewport) {
  .p-companyNavi {
    padding: 63px 15.2%;
    position: relative;

    &Wrap {
      width: 84%;
      max-width: 1210px;
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color_fff);
      box-shadow: 0 10px 33px rgba(0, 0, 0, 0.2);
    }

    &__items {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      flex-grow: 1;

      & > a {
        padding: 26px 0 21px;
        display: block;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &__linkContent {
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > img {
        margin-top: 12px;
      }

      .p-companyNavi__item:not(:first-of-type) & {
        border-left: 1px solid #dbdbdb;
      }
    }
  }

  .p-company .u-heading {
    padding-top: 52px;
  }

  .p-companyIntroduction__table {
    width: 100%;

    &Wrap {
      margin: 51px 15.2% 0;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &Term {
      width: 26%;
      padding: 1.3% 1% 1.2% 1.7%;
    }

    &Description {
      width: 74%;
      padding: 1.3% 1% 1.2% 1.7%;
    }

    &List {
      & > li:not(:first-of-type) {
        margin-top: 12px;
      }
    }
  }

  .p-companyHistory {
    &__section {
      &:not(:first-of-type) {
        border-top: 1px solid #bfbfbf;
      }

      &:first-of-type &__list {
        padding-top: 32px;
      }

      &:last-of-type {
        & .p-companyHistory__list {
          padding-bottom: 100px;
        }
      }
    }
  }

  .p-companyPlaces {
    &__wrap {
      display: flex;
    }

    &__content {
      max-width: calc(33% - 24px);

      &:not(:first-of-type) {
        margin-left: 36px;
      }
    }
  }

  .p-companyOffice {
    &__tableDescription {
      line-height: 1.5;

      &:first-of-type {
        width: 22.1%;
        padding: 9px 3px 14px 10px;
      }

      &--address {
        padding: 9px 3px 14px;
        font-size: 0.937rem;
        width: 42%;
      }

      &--contact {
        width: 28%;
        padding: 9px 3px 14px;
      }

      &--map {
        padding: 16px 10px 14px 3px;
        vertical-align: middle;
        min-width: 71px;
      }
    }
  }

  .p-companyOverseas {
    &__content {
      display: flex;

      &:not(:first-of-type) {
        border-top: 0.5px solid #b3b3b3;
      }
    }

    &__contact {
      display: flex;
      align-items: center;
    }

    &__tellWrap {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }

    &__table {
      text-align: left;
    }

    &__tableDescription {
      &:first-of-type {
        min-width: 33.5%;
        padding: 9px 6px 10px 11px;
      }

      &--address {
        padding: 9px 6px 10px;
        white-space: nowrap;
      }

      &--tell {
        padding: 9px 15px 10px 6px;
      }
    }

    &__tableMailWrap {
      /* margin-left: 29px; */
    }
  }

  .p-companyClient {
    &__listWrap {
      display: flex;
    }

    &__list {
      width: calc(88.8% / 3);

      &:not(:first-of-type) {
        margin-left: 5.6%;
      }

      & > li {
        &:not(:first-of-type) {
          margin-top: 15px;
        }
      }
    }
  }
}

@media (--pc-viewport) and (--middle-pc-viewport) {
  .p-companyAgency {
    width: auto;
  }
}

@media (--sp-viewport) {
  .p-company {
    padding-top: 54px;
  }

  .p-companyNavi {
    padding: 0;

    &Wrap {
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #f0f0f0;
    }

    &__items {
      padding: 0 26px;
      width: 100%;
    }

    &__item {
      border-top: 1px solid #ccc;

      & > a {
        display: block;
        padding: 17px 0;
      }
    }

    &__toggle {
      position: relative;
      display: block;
      padding: 17px 26px;

      &::after {
        content: '';
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url(/img/icons/icon-red-chevron-down.svg);
      }

      &.is-opened::after {
        background-image: url(/img/icons/icon-red-chevron-up.svg);
      }
    }
  }

  .p-company .u-heading {
    padding-top: 58px;
  }

  .p-company .u-heading__main {
    font-size: 2.5rem;
    margin-top: 4px;
  }

  .p-companySectionHeading {
    line-height: 1.4;
    letter-spacing: 3px;

    .p-companyIntroduction & {
      font-size: 2rem;
    }
  }

  .p-companyIntroduction {
    &__content {
      padding-top: 30px;
      padding-bottom: 110px;
    }

    &__heading {
      padding: 0 6.2%;
    }

    &__table {
      margin-top: 22px;
      padding: 0 6%;
      display: block;

      & tbody {
        border-top: 1px solid rgba(179, 179, 179, 0.4);
      }

      &Row {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(179, 179, 179, 0.4);
      }

      &Term {
        padding: 4.2% 4.6%;
      }

      &Description {
        padding: 3.4% 4.5% 6.4%;
        line-height: 1.6;
      }

      &List {
        & > li:not(:first-of-type) {
          margin-top: 12px;
        }
      }
    }
  }

  .p-companyHistory {
    padding: 3.6% 2.5% 10% 6.2%;

    &__content {
      margin-top: 26px;
    }

    &__list {
      padding: 0;
      letter-spacing: 0.8px;
    }

    &__section:not(:first-of-type) {
      margin-top: 38px;
    }
  }

  .p-companyPlaces {
    margin-top: 56px;

    &__square {
      top: -56px;
      width: 57%;
    }

    &__main {
      width: 100%;
      padding: 9.8% 3% 20.7% 5.5%;
    }

    &__wrap {
      margin-top: 25px;
    }

    &__content {
      padding: 0 7% 0 3%;

      &:not(:first-of-type) {
        margin-top: 64px;
      }
    }
  }

  .p-companyOffice {
    padding: 16% 0;

    &__headingWrap {
      padding: 0 6.2%;
    }

    &__table {
      & tbody > tr {
        display: flex;
        flex-direction: column;
        padding: 3% 6.5% 6.8%;
      }
    }

    &__tableDescription {
      &--address {
        margin-top: 26px;
        font-size: 0.937rem;
        line-height: 1.5;
      }

      &--contact {
        margin-top: 10px;
      }

      &--map {
        margin-top: 27px;
      }
    }

    &__tableMailWrap {
      margin-top: 4px;
    }

    &__tableMap {
      display: inline-block;
      padding: 8px 54px;
      border-radius: 17px;
      font-size: 1rem;
    }
  }

  .p-companyOverseas {
    padding: 21.5% 0 21%;

    &__main,
    &__headingWrap,
    &__agencyWrap &__sectionTitle {
      padding: 0 6%;
    }

    &__contentsWrap {
      margin-top: 25px;
    }

    &__contents {
      margin-top: 66px;
    }

    &__content {
      padding: 0;

      &:not(:first-of-type) {
        margin-top: 52px;
      }
    }

    &__img {
      width: 100%;
      max-width: 374px;
    }

    &__textWrap {
      margin: 14px 0 0;
    }

    &__tellWrap {
      &:not(:first-of-type) {
        margin-top: 6px;
      }
    }

    &__agencyWrap {
      margin-top: 66px;
    }

    &__table {
      & tbody > tr {
        display: flex;
        flex-direction: column;
        padding: 3% 6.5% 6.8%;
      }
    }

    &__tableTellWrap,
    &__tableMailWrap {
      display: block;
    }

    &__tableDescription {
      &--tell {
        flex-direction: column;
        justify-content: flex-start;
      }

      &--address {
        margin-top: 13px;
      }

      &--tell {
        margin-top: 15px;
      }
    }
  }

  .p-companyClient {
    padding: 9% 6.5% 7%;

    &__listWrap {
      margin-top: 60px;
      padding-left: 5px;
    }

    &__list {
      &:not(:first-of-type) {
        margin-top: 13px;
      }

      & > li:not(:first-of-type) {
        margin-top: 13px;
      }
    }
  }
}
