.p-contact,
.p-contactConfirmation {
  & .u-heading {
    padding-top: 54px;
  }

  & .u-link-button {
    padding: 19px 0;
  }

  & .c-footerMailText {
    margin-left: 0;
  }
}

.p-contactContent {
  & input[type=checkbox] {
    display: none;
  }

  &__introduction {
    padding: 4% 15.3% 2.7%;

    .p-contactComplete & {
      padding: 4% 2% 234px 15.2%;
    }

    &Text {
      margin-top: 20px;
      letter-spacing: 0.8px;
      line-height: 1.65;

      .p-contactConfirmation & {
        margin-top: 18px;
        letter-spacing: 0.8px;
      }

      .p-contactComplete & {
        margin-top: 50px;
        letter-spacing: 1.6px;
      }
    }
  }

  &__sectionHeading {
    margin-top: 26px;
    letter-spacing: 4px;
    font-size: 2.25rem;
    font-weight: normal;
  }

  &__form {
    padding: 2% 15.3% 8%;
    background-color: #f0f0f0;

    &Row {
      display: flex;

      &:not(:first-of-type) {
        margin-top: 24px;
      }
    }

    &MustLogo {
      color: var(--color_fff);
      background-color: #be0f16;
      font-size: 0.75rem;
      padding: 2.4px 12px;
      white-space: nowrap;
    }

    &Team,
    &SelectTermWrap {
      font-size: 0.93rem;
      font-weight: 500;
    }

    &Input {
      width: 100%;
      padding: 10px 18px;
      border: 1px solid #b3b3b3;
      font-size: 1rem;
      border-radius: 4px;
      line-height: 1.8;

      textarea& {
        letter-spacing: 1px;
      }

      &::placeholder,
      &::-webkit-input-placeholder,
      &::-moz-placeholder {
        opacity: 0.4;
      }

      &&--harf {
        width: 36.5%;

        &:not(:first-of-type) {
          margin-left: 20px;
        }
      }
    }

    &ConfirmName {
      display: inline-block;
      margin-left: 28px;
    }

    &ErrorMessage {
      color: #be0f16;
      font-weight: bold;
      display: block;
      margin-top: 6px;
      letter-spacing: 1px;
    }

    &ButtonWrap {
      margin-top: 64px;
      padding-top: 30px;
      text-align: center;
      border-top: 1px solid #b3b3b3;

      .p-contactConfirmation & {
        margin-top: 94px;
      }
    }

    &ConfirmIntroduction {
      font-size: 1.25rem;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    &ConfirmTable {
      width: 100%;
      border-spacing: 0 32px;
      border-collapse: inherit;
    }

    &ConfirmRow {
      font-weight: 500;
    }

    &ConfirmTeam {
      width: 100px;
      text-align: left;
    }

    &ConfirmTeamText {
      display: block;
      padding: 10px 15px;
      font-size: 0.93rem;
      white-space: nowrap;
      background-color: var(--color_fff);
    }
  }
}

@media (--pc-viewport) {
  .p-contactContent {
    &__form {
      &SelectRow {
        margin-top: 43px;
        display: flex;
      }

      &SelectTermWrap {
        width: calc(26.5% - 32px);
        margin-right: 30px;
      }

      &TeamWrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: calc(26.5% - 32px);
        margin-right: 30px;
        margin-top: 16px;
      }

      &InputWrap {
        width: calc(73.5% + 2px);
      }

      &Confirm {
        padding-top: 18px;
      }

      &ConfirmRow {
        &:not(:first-of-type) {
          margin-top: 31px;
        }
      }

      &ConfirmDescription {
        padding-left: 10%;
        letter-spacing: -1px;
      }

      &MustLogo {
        margin-left: 8px;
      }

      &Button {
        width: calc(33.2% - 24px);

        &:not(:first-of-type) {
          margin-left: 48px;
        }
      }
    }
  }
}

@media (--sp-viewport) {
  .p-contactConfirmation {
    & .u-link-button {
      width: 100%;
    }
  }

  .p-contact .u-heading,
  .p-contactConfirmation .u-heading,
  .p-contactComplete .u-heading {
    padding-top: 72px;
    padding-bottom: 136px;

    &__main {
      font-size: 2.5rem;
      margin-top: 4px;
    }
  }

  .p-contactContent {
    &__introduction {
      padding: 58px 3% 9% 6.2%;

      .p-contactComplete & {
        padding: 12% 2% 308px 6.2%;
      }

      &Text {
        margin-top: 21px;
        letter-spacing: 1px;
        line-height: 1.8;

        .p-contactComplete & {
          margin-top: 38px;
        }
      }
    }

    &__sectionHeading {
      .p-contactComplete & {
        font-size: 1.75rem;
        letter-spacing: 3px;
        line-height: 1.4;
      }
    }

    &__form {
      padding: 9% 4.4% 152px 6.4%;

      .p-contactConfirmation & {
        padding-top: 0;
      }

      &Row {
        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }

      &Team {
        display: block;
      }

      &MustLogo {
        display: inline-block;
        margin-top: 5px;
      }

      &TeamWrap {
        width: 34%;
      }

      &InputWrap {
        width: calc(66% - 7px);
        margin-left: 7px;
      }

      &Input {
        padding: 10px 0;
        font-size: 0.93rem;

        &&--harf {
          width: calc(50% - 8px);

          &:not(:first-of-type) {
            margin-left: 12px;
          }
        }
      }

      &SelectRow {
        margin-top: 34px;

        & .p-contactContent__formInputWrap {
          width: 100%;
          margin-left: 0;
          padding: 20px 0 0 20px;
          margin-bottom: 10px;
        }
      }

      &ButtonWrap {
        margin-top: 100px;

        .p-contactConfirmation & {
          margin-top: 80px;
        }
      }

      &ConfirmRow {
        display: flex;
        flex-direction: column;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }

      &ConfirmTeam {
        width: 100%;
        white-space: inherit;
        letter-spacing: -1px;
      }

      &ConfirmDescription {
        margin-top: 22px;
        padding-left: 16px;
      }

      &Button {
        width: 100%;

        &:not(:first-of-type) {
          margin-top: 30px;
        }
      }
    }
  }
}
