@import './_top.css';
@import './_solution.css';
@import './_company.css';
@import './_top-message.css';
@import './_sdgs.css';
@import './_faq.css';
@import './_case-study.css';
@import './_products.css';
@import './_product.css';
@import './_downloads.css';
@import './_catalog.css';
@import './_404.css';
@import './_contact.css';
@import './_news.css';
