.p-products {
  & .m-productLink {
    & img {
      margin-left: 8px;
    }
  }
}

.p-productsContent {
  padding-bottom: 6.7%;

  &__bgSquare {
    height: 220px;
  }

  &__bgSquareBlue {
    width: 60%;
    height: 100%;
    background-color: var(--color_purple);
  }

  &__bgSquareRed {
    width: 40%;
    height: 100%;
    background-color: #e60a17;
  }

  &__items {
    padding: 0 5.5%;
    margin-top: -140px;
  }

  &__imgWrap {
    background-color: var(--color_fff);
    position: relative;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    padding-top: 100%;

    & > img {
      padding: 7.5% 5%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
    }
  }

  &__itemHeading {
    font-size: 1.5rem;
    margin-top: 32px;
    letter-spacing: 2.6px;
  }

  &__itemLinkWrap {
    margin-top: 24px;
    letter-spacing: 1px;
  }

  &__itemLink {
    &:not(:first-of-type) {
      margin-top: 17px;
    }

    & .u-link-hoverLine {
      color: var(--color_purple);

      & span {
        margin-right: 4px;
      }

      & img {
        margin-top: 4px;
      }
    }
  }
}

@media (--pc-viewport) {
  .p-productsContent {
    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc((100% - 80px) / 3);

      &:not(:nth-of-type(3n + 1)) {
        margin-left: 40px;
      }

      &:nth-of-type(n + 4) {
        margin-top: 58px;
      }
    }
  }

  .p-productsContent__imgWrap:hover {
    opacity: 0.9;
  }
}

@media (--sp-viewport) {
  .p-products {
    & .u-heading {
      padding-top: 70px;
      padding-bottom: 136px;
    }
  }

  .p-productsContent {
    padding-bottom: 30.8%;

    &__bgSquare {
      height: 220px;
    }

    &__bgSquareBlue {
      width: 48%;
    }

    &__bgSquareRed {
      width: 52%;
    }

    &__items {
      padding: 0 6%;
      margin-top: -150px;
    }

    &__item {
      &:not(:first-of-type) {
        margin-top: 50px;
      }
    }

    &__itemHeading {
      margin-top: 36px;
    }
  }
}
