.p-top-heroCarouselWrap {
  position: relative;
  line-height: 1;

  & .slick-slide {
    font-size: 0;
  }

  & .slick-prev {
    z-index: 1;
    right: 140px;
    top: auto;
    bottom: -40px;
    left: auto;
    transform: translateY(100%);
    transition: opacity 0.3s;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: none;
    }

    & .hero-icon {
      display: inline-block;
      width: 20px;
      height: 40px;
      background: no-repeat center/cover url(/img/icons/icon-hero-chevron-left.svg);
    }
  }

  & .slick-next {
    z-index: 1;
    right: 80px;
    top: auto;
    bottom: -40px;
    transform: translateY(100%);
    transition: opacity 0.3s;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: none;
    }

    & .hero-icon {
      display: inline-block;
      width: 20px;
      height: 40px;
      background: no-repeat center/cover url(/img/icons/icon-hero-chevron-right.svg);
    }
  }
}

.p-top-heroCarousel__img {
  background: no-repeat center/cover;
  height: 620px;

  &--1 {
    background-image: url(/img/images/top-hero-slide-1.jpg);
  }

  &--2 {
    background-image: url(/img/images/top-hero-slide-2.jpg);
  }

  &--3 {
    background-image: url(http://placehold.jp/712x400.png);
  }
}

.p-top-heroCarouselLogo {
  & > img {
    width: 26%;
    position: absolute;
    right: 77px;
    bottom: 87px;
  }
}

.p-top-heroTextBlock {
  position: relative;
  color: var(--color_fff);
}

.p-top-heroTextBlock__left {
  background-color: #373778;
  padding: 62px 8% 177px 5.5%;
}

.p-top-heroTextBlock__right {
  height: 220px;
  background-color: #e60a17;
}

.p-top-heroTextBlock__main {
  letter-spacing: 4px;
  line-height: 1.4;
  font-size: 2.25rem;
}

.p-top-heroTextBlock__sub {
  margin-top: 48px;
  letter-spacing: 0.8px;
  line-height: 1.8;
}

.p-top-heroSolution__subCol {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60%;
  height: calc(100% - 102px);
  background-color: var(--color_fff);
}

.p-top-heroSolution {
  background-color: #f0f0f0;
}

.p-top-heroSolutionWrap {
  position: relative;
  padding: 0 5.5% 100px;
  z-index: 1;
  margin-top: -102px;
}

.p-top-heroSolutionItem {
  width: 100%;
  z-index: 1;
}

.p-top-heroSolution__img {
  & > img {
    width: 98%;
  }
}

.p-top-heroSolution__navWrap {
  margin-top: 30px;
}

.p-top-heroSolution__nav {
  color: #373778;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  letter-spacing: 1.6px;
}

.p-top-heroSolution__heading {
  margin-top: 10px;
  letter-spacing: 2.5px;
}

.p-top-heroSolution__text {
  margin-top: 25px;
  letter-spacing: 0.8px;
  line-height: 1.7;
}

.p-top-otherContents {
  background-color: #f0f0f0;
}

.p-top-otherContent--questionWrap {
  position: relative;
}

.p-top-otherContent__subCol {
  background-color: #e60a17;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
}

.p-top-otherContent__explain {
  .p-top-otherContent--caseStudy & {
    padding: 6.2%  0 6.4% 5.5%;
  }

  .p-top-otherContent--questionWrap & {
    padding: 6.2% 5.5% 7% 0;
  }
}

.p-top-otherContent__textWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.p-top-otherContent__text {
  margin-top: 45px;
  letter-spacing: 1px;
  line-height: 1.9;
}

.p-top-otherContent__heading {
  margin-top: 24px;
  letter-spacing: 4px;
}

.p-top-moreWrap {
  text-align: right;
  margin-top: auto;

  .p-top-otherContent--questionWrap & {
    margin-top: 60px;
  }
}

.c-link-more {
  color: var(--color_purple);
  font-family: 'Roboto Condensed';
  font-weight: bold;
  letter-spacing: 1px;
}

.c-link-more__linkIcon {
  margin-left: 14px;
}

.p-top-otherContent__imageWrap {
  position: relative;

  & > img {
    max-width: 750px;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .p-top-otherContent--caseStudy & {
    padding: 7%  5.5% 0 0;
  }

  .p-top-otherContent--questionWrap & {
    padding: 7% 0 0 5.5%;
  }
}

.p-top-heroNews {
  padding: 5% 11.8% 8%;
  background-color: #fff;
}

.p-top-heroNews__list {
  margin-top: 44px;
}

.p-top-heroNews__listItem {
  &:not(:first-of-type) {
    margin-top: 20px;
  }
}

.p-top-heroNews__heading {
  margin-top: 24px;
  letter-spacing: 4px;
}

.p-top-heroNews__time {
  white-space: nowrap;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  letter-spacing: 1.5px;
}

.p-top-heroNews__listHeadingText {
  letter-spacing: 0.9px;
}

.p-top-product {
  color: #fff;
  margin-bottom: 80px;
}

.p-top-productColorBlocks {
  height: 100px;
}

.p-top-productColorBlocks__left {
  width: 40%;
  height: 100%;
  background-color: #373778;
  padding: 0 5.5% 2%;
  position: relative;
}

.p-top-productColorBlocks__right {
  width: 60%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 0 5.5%;
}

.p-top-product__sectionLogoWrap {
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
}

.p-top-productHeading {
  letter-spacing: 3px;
}

.p-top-productContent {
  background-color: #373778;
  padding: 14px 5.5% 7%;
}

.p-top-productLists {
  margin-top: 60px;
}

.p-top-productList__title {
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
  letter-spacing: 2px;
}

.p-top-productList__content {
  padding: 40px 0 80px;
}

.p-top-productList__mainContent {
  width: 33%;
}

.p-top-productList__linkTextWrap {
  letter-spacing: 0.6px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
    background: #fff;
  }
}

.p-top-productList__link {
  &:hover .p-top-productList__linkTextWrap::after {
    transform: scale(1, 1);
  }
}

.p-top-productList__otherList {
  letter-spacing: 1px;
}

.p-top-productList__linkText {
  margin-right: 8px;
}

.p-top-productList__linkImg {
  width: 100%;
}

.p-top-productList__otherItem {
  white-space: nowrap;

  &:not(:first-of-type) {
    margin-top: 32px;
  }
}

.u-link-button.p-top-product__otherLink {
  padding: 18px 68px;
}

@media (--pc-viewport) {
  .p-top-heroTextBlock__left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .p-top-heroSolutionWrap {
    display: flex;
    justify-content: space-around;
  }

  .p-top-heroSolutionItem:not(:first-of-type) {
    margin-left: 40px;
  }

  .p-top-heroSolution__text {
    font-size: 0.875rem;
  }

  .p-top-heroSolution__img {
    max-width: 400px;
  }

  .p-top-otherContent {
    display: flex;
    justify-content: space-between;

    .p-top-otherContent--questionWrap & {
      flex-direction: row-reverse;
    }
  }

  .p-top-otherContent__explain {
    padding-bottom: 90px;
    width: 40%;
  }

  .p-top-otherContent__textWrap {
    width: 81%;

    .p-top-otherContent--caseStudy & {
      margin-right: auto;
    }

    .p-top-otherContent--questionWrap & {
      margin-left: auto;
    }
  }

  .p-top-otherContent__imageWrap {
    .p-top-otherContent--caseStudy & {
      margin-left: 40px;
    }

    .p-top-otherContent--question & {
      margin-right: 40px;
    }
  }

  .p-top-heroNews__listHeading {
    margin-left: 60px;
  }

  .p-top-heroNews__listItem {
    display: flex;
  }

  .p-top-productList__content {
    display: flex;
  }

  .p-top-productList__otherList {
    margin-left: 64px;
    padding-top: 20px;
  }

  .p-top-otherContent--questionWrap {
    margin-top: 32px;
  }

  .p-top-productList__mainContent {
    &:not(:first-of-type) {
      margin-left: 18px;
    }
  }
}

@media (--pc-viewport) and (--middle-pc-viewport) {
  .p-top-otherContent__explain {
    width: 70%;
  }
}

@media (--sp-viewport) {
  .p-top-heroTextBlock__main {
    font-size: 2rem;
  }

  .p-top-heroCarousel__img {
    height: 330px;
  }

  .p-top-heroCarouselLogo {
    & > img {
      width: 200px;
      right: 4%;
      bottom: 4%;
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .p-top-heroTextBlock__right {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .p-top-heroTextBlock__sub {
    margin-top: 40px;
    position: relative;
    z-index: 1;
  }

  .p-top-heroSolutionWrap {
    padding-bottom: 60px;
  }

  .p-top-heroSolution__subCol {
    width: 50%;
  }

  .p-top-heroSolutionItem {
    position: relative;
    max-width: 400px;
    margin: 0 auto;

    &:not(:first-of-type) {
      margin-top: 60px;
    }
  }

  .p-top-otherContent {
    padding: 0;
  }

  .p-top-otherContent__subCol {
    width: 50%;
  }

  .p-top-otherContent--questionWrap {
    margin-top: 80px;
  }

  .p-top-otherContent--caseStudy {
    padding-top: 30px;
  }

  .p-top-otherContent__explain {
    padding: 40px 25px 0;

    .p-top-otherContent--caseStudy & {
      padding: 0 5.5%;
      margin-bottom: 30px;
    }

    .p-top-otherContent--questionWrap & {
      padding: 0 5.5%;
      margin-bottom: 10px;
    }
  }

  .p-top-otherContent__imageWrap {
    .p-top-otherContent--caseStudy & {
      padding: 0;
    }

    .p-top-otherContent--questionWrap & {
      padding: 7% 0 0;
    }
  }

  .p-top-otherContent__linkWrap {
    margin-top: 20px;
  }

  .p-top-heroNews {
    padding: 18% 5.5% 17%;
  }

  .p-top-heroNews__listHeading {
    margin-top: 8px;
    display: block;
    line-height: 1.5;
  }

  .p-top-moreWrap {
    margin-top: 16px !important;
  }

  .p-top-product {
    margin-bottom: 40px;
  }

  .p-top-product__sectionLogoWrap {
    transform: translateY(50%);
  }

  .p-top-productContent {
    padding-top: 36px;
  }

  .p-top-productColorBlocks {
    height: 60px;
  }

  .p-top-productColorBlocks__left {
    width: 50%;
  }

  .p-top-productColorBlocks__right {
    width: 50%;
  }

  .p-top-productList__main {
    flex-wrap: wrap;
  }

  .p-top-productList__mainContent {
    width: 50%;
    flex-shrink: 0;

    &:nth-child(n+3) {
      margin-top: 40px;
    }
  }

  .p-top-productList__otherList {
    margin-top: 60px;
  }
}
