{%- from '../../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../../modules/_heading.njk' import heading -%}

<div class="p-top-message">
  <section class="p-top-messageHeading">
    {{ heading(
      introduction = 'Solution',
      title = 'トップメッセージ',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-top-messageIntroduction">
    <div class="p-top-messageIntroduction__headingWrap">
      <div>
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-top-message__heading">
        総合抵抗溶接機メーカーから<br>
        総合接合機メーカーへ
      </h2>
    </div>
    <div class="p-top-messageIntroduction__square"></div>
  </section>
  <section class="p-top-messageMain">
    <div class="p-top-messageMain__hero"></div>
    <div class="p-top-messageMain__history">
      <p>
        2017年4月、私たちは新たな壮途につきました。総合抵抗溶接機メーカーとして国内シェア第1位の株式会社電元社製作所と、同じく第3位のナストーア溶接テクノロジー株式会社が一つとなり、電元社トーア株式会社が誕生しました。これまでも旧2社はグループ企業としてシナジーを図ってきましたが、今後もさらに進化し続けて行く所存です。
      </p>
      <div class="p-top-messageMain__middleHistory">
        <div class="p-top-messageMain__middleTextWrap">
          <p>
            旧電元社製作所は創立から82年、旧ナストーア溶接テクノロジーは69年と、ともに長い伝統の企業であり、その歴史のなかで確固たる実績と信頼を築いてきました。抵抗溶接は生産性に優れ、またプロセスがシンプルかつ迅速なため自動化に適したテクノロジーであり、とりわけ自動車産業では広く用いられています。これまでも、日本の自動車産業の発展と軌を一にして歩んでまいりました。
          </p>
          <p>
            新生・電元社トーアが目指すのは世界のマーケットです。既にアメリカ、イギリス、インドネシア、メキシコ、タイ、インドに拠点を展開し、日系自動車メーカーのグローバル生産に貢献しています。今後はそれに加えて、世界の自動車メーカーをターゲットとした活動を行っていきます。<br>
            自動車は軽量化が進み、新素材が多く用いられるようになっています。その潮流に対応すべく、当社も新しい溶接法の開発に取り組んでいかなければなりません。そのために、アカデミックな研究者との共同研究も進めてきましたし、新会社発足と同時に専門の組織も設けました。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="p-top-messageVision">
    <div class="p-top-messageVision__content">
      <div class="p-top-messageVision__subHeroWrap">
        <div class="p-top-messageVision__subHero">
          <img class="u-show--pc" src="/img/images/top-message-hero-2.jpg" alt="">
          <img class="u-show--sp" src="/img/images/sp-top-message-hero-2.jpg" alt="">
        </div>
        <div class="p-top-messageVision__square"></div>
      </div>
      <div class="p-top-messageVision__textWrap">
        <p>
          「総合抵抗溶接機メーカーから総合接合機メーカーへ」こそ、私たちが掲げているヴィジョンです。
        </p>
        <p>
          それを成しとげるためには、技術だけではなく生産、営業においても、新しいものに果敢に挑戦するスピリットが大切だと考えています。特にグローバル化を推し進めるためには、今迄の安定に寄りかかってはいられません。長い伝統のなかで培った固有の技術とノウハウ、お客様からのご支持は大きな財産ですが、それを守るだけでは国際マーケットで後れを取ってしまいます。これからは社員一人ひとりが視野を広く持ち、失敗を恐れずに仕事に取り組む必要があります。それを育む風土を醸成することが、経営者である私の使命だと考えております。
        </p>
        <p>
          「チャレンジなくして、成長はない」この気概を全社員が共有し、活力に満ちた企業として躍進してまいります。
        </p>
        <div class="p-top-messageVision__sign">
          <img src="/img/images/top-message-sign.png" alt="">
        </div>
      </div>
    </div>
  </section>
</div>
