{% extends "../_base.njk" %}

{% block meta -%}
  {{ super() }}
{%- endblock %}

{% block insertHead -%}
  {# headで読みたいもの #}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
{%- endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content -%}
  {% include "./modules/_body.njk" %}
{%- endblock %}

{% block insertBody -%}
  {# bodyの締めタグ直前で読みたいもの #}
  {{ super() }}
  <script src="/js/pages/top.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
{%- endblock %}
