{%- from '../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../modules/_heading.njk' import heading -%}
{%- from '../../../modules/_products.njk' import products -%}
{% set thisLinkList = [
  {
    text: 'Wel Net 3M',
    href: ''
  },
  {
    text: 'NDZシリーズ',
    href: ''
  },
  {
    text: '抵抗溶接用制御装置',
    href: ''
  }
] %}


<div class="p-solution p-solution--DX">
  <section class="p-solutionHeading">
    {{ heading(
      introduction = 'Solution',
      subTitle = '溶接管理業務の変革',
      title = 'DXソリューション',
      modifier = '--otherSolution'
    ) }}
  </section>
  <section class="p-solutionIntroduction">
    <div class="p-solutionIntroduction__squareWrap u-text-center">
      <div class="p-solutionIntroduction__square--red"></div>
      <div class="p-solutionIntroduction__square--blue"></div>
      <img class="u-show--pc p-solutionIntroduction__img" src="{{ data.root }}img/images/solution-visual-DX.jpg" alt="">
      <img class="u-show--sp p-solutionIntroduction__img" src="{{ data.root }}img/images/solution-visual-DX.jpg" alt="">
    </div>
    <div class="p-solutionIntroduction__textWrap">
      <h2 class="p-solutionSectionHeading">抵抗溶接における品質管理</h2>
      <p class="p-solutionExplainText">
        抵抗溶接は溶接電流、通電時間、電極加圧力、電極形状の４大溶接条件を管理、整えておけば非常に再現性の高い溶接方法です。従って溶接条件の管理、変更のトレーサビリティは重要な管理項目となります。
      </p>
    </div>
  </section>
  <section class="p-solutionTask">
    <div class="p-solutionTaskColorBlock"></div>
    <div>
      <div class="p-solutionTask__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionTaskHeading p-solutionSectionHeading">品質管理における課題</h2>
      <p class="p-solutionTaskText p-solutionExplainText">
        従来の抵抗溶接機では溶接条件の入力方法が制御装置のパネルやプログラムボックスを使用して個々に設定する方法が主でした。また、モニタデータやエラー履歴等の情報は個々の装置に表示または履歴が残されるだけでした。<br>
        そのため、管理者は溶接機の設置されている場所に行き、条件を入力したり、エラー履歴を確認したりする必要が有りました。
      </p>
    </div>
  </section>
  <section class="p-solutionMain p-solutionMain--DX">
    <div class="p-solutionMain__logo">
      <img src="{{ data.root }}img/images/solution-logo.png" alt="SOLUTION">
    </div>
    <div>
      <div class="p-solutionMain__sectionLogoWrap">
        {{ sectionLogo(
          usecase="sectionheading"
        ) }}
      </div>
      <h2 class="p-solutionMainHeading p-solutionSectionHeading">電元社トーアのソリューション</h2>
      <div class="p-solutionMain__topContents">
        <div class="p-solutionMain__topContent">
          <p class="p-solutionMain__topContentHeading">見える化と集中管理</p>
          <p class="p-solutionMain__topContentText">
            電元社トーアでは溶接条件の一括管理やモニタデータの収集を可能とするため制御装置に通信機能を付加し、集中管理をするためのソフトウェアWel Net 3Mを開発いたしました。<br>
            これにより管理者はいつでもネットワーク上のどこからでも溶接条件の設定やモニタデータの確認が出来るようになります。<br>
            万一溶接不良などが発生した場合には異常ログや溶接電流の数値モニタの確認だけでなく電流波形や抵抗波形でも履歴の確認が可能です。<br>
            また、別途加圧力を測定できるセンサを制御装置に接続することで加圧力の数値モニタも可能です。<br>
            更に制御装置によりチップドレス判定機能が有りますので、これらと合わせて使用することで溶接電流、通電時間、電極加圧力、電極形状の4大溶接条件全ての履歴を残し、品質管理のレベルアップと管理業務の変革が可能です。
          </p>
        </div>
      </div>
      <div class="p-solutionMain__bottomImageWrap">
        <img src="{{ data.root }}img/images/solution-main-DX.jpg" alt="">
      </div>

    </div>
  </section>
  <section class="p-solutionProductWrap">
    {{ products(
      linkList = thisLinkList
    ) }}
  </section>
</div>
