{%- from '../../../../modules/_section-logo.njk' import sectionLogo -%}
{%- from '../../../../modules/_heading.njk' import heading -%}
{%- from '../../../../modules/_list-square.njk' import listSquare -%}

<div class="p-sdgs-message">
  <section class="p-sdgs-messageHeading">
    {{ heading(
      introduction = 'Activities to Promote the SDGs',
      title = 'SDGsへの取り組み',
      modifier = '--type1'
    ) }}
  </section>
  <section class="p-sdgsIntroduction">
    <p>
      SDGs とは、2015年に国連で策定された｢持続可能な開発目標（SDGs：
      <span class="u-d-inline-block">Sustainable Development Goals）</span>｣を指す言葉です。<br>
      豊かで活力ある未来をつくるために17の目標と169のターゲットを定め、2030年までの15年間にわたり、課題達成のために取り組むべき世界共通目標です。<br>
      電元社トーアは、「持続可能な社会」を実現するために様々な取り組みを行っています。
    </p>
  </section>
  <section class="p-sdgsContent">
    <div class="p-sdgsContent__itemWrap">
      <div class="p-sdgsContent__item">
        <div class="p-sdgsContent__texts">
          <div class="p-sdgsContent__headingWrap">
            <div>
              {{ sectionLogo(
                usecase="sectionheading"
              ) }}
            </div>
            <h2 class="p-sdgsContent__heading">
              次世代につなげる<br>
              技術開発
            </h2>
          </div>
          <div class="p-sdgsContent__textWrap">
            <p class="p-sdgsContent__text">
              カーボンニュートラルの実現に貢献するための技術･製品開発を行っています。<br>
              一貫した製品･サービスを提供し顧客満足度の向上を目指すだけでなく、他企業との協力により、さらなる製品技術の発展に貢献します。
            </p>
            <ul class="p-sdgsContent__list">
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  ファイバーレーザーシステム
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  樹脂金属接合装置
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  IOS9001認証
                </a>
              </li>
            </ul>
          </div>
        </div>
        <img class="p-sdgsContent__img" src="/img/images/sdgs-1.png" alt="">
      </div>
      <div class="p-sdgsContent__item">
        <div class="p-sdgsContent__texts">
          <div class="p-sdgsContent__headingWrap">
            <div>
              {{ sectionLogo(
                usecase="sectionheading"
              ) }}
            </div>
            <h2 class="p-sdgsContent__heading">
              環境への配慮
            </h2>
          </div>
          <div class="p-sdgsContent__textWrap">
            <p class="p-sdgsContent__text">
              省エネ設備の開発により、従来の3/1のエネルギーでの溶接が可能となる製品を提供しています。<br>
              また、当社ではクリーンエネルギーを活用し、環境問題解決への取り組みを推進しています。
            </p>
            <ul class="p-sdgsContent__list">
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  コンデンサ溶接機
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  富山工場のソーラーパネル設置
                </a>
              </li>
            </ul>
          </div>
        </div>
        <img class="p-sdgsContent__img" src="/img/images/sdgs-2.png" alt="">
      </div>
      <div class="p-sdgsContent__item">
        <div class="p-sdgsContent__texts">
          <div class="p-sdgsContent__headingWrap">
            <div>
              {{ sectionLogo(
                usecase="sectionheading"
              ) }}
            </div>
            <h2 class="p-sdgsContent__heading">
              地域への貢献
            </h2>
          </div>
          <div class="p-sdgsContent__textWrap">
            <p class="p-sdgsContent__text">
              地域経済の活性化や近隣清掃など、地域社会との共生を目指した取り組みを行っています。<br>
              災害時の早期復旧・事業継続により、地域のインフラの復興・機能維持に貢献します。
            </p>
            <ul class="p-sdgsContent__list">
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  地域未来牽引企業
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  災害時の電力解放(太陽光発電の蓄電活用)
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  近江工場の近隣一斉清掃
                </a>
              </li>
            </ul>
          </div>
        </div>
        <img class="p-sdgsContent__img" src="/img/images/sdgs-3.png" alt="">
      </div>
      <div class="p-sdgsContent__item">
        <div class="p-sdgsContent__texts">
          <div class="p-sdgsContent__headingWrap">
            <div>
              {{ sectionLogo(
                usecase="sectionheading"
              ) }}
            </div>
            <h2 class="p-sdgsContent__heading">
              社会、従業員への貢献
            </h2>
          </div>
          <div class="p-sdgsContent__textWrap">
            <p class="p-sdgsContent__text">
              社員が働きやすい職場を目指し、職場環境の整備や社員の健康増進を図るための取り組みを行っています。<br>
              また、褒章制度を設けることで、老若男女問わず、働きがいのある職場づくりをしています。
            </p>
            <ul class="p-sdgsContent__list">
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  年1回の褒章制度
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  労働時間短縮や有給休暇取得の推進
                </a>
              </li>
              <li>
                {{ listSquare() }}
                <a href="" class="u-link-hoverLine u-link-hoverLine--purple u-link-hoverLine--thin">
                  健康意識調査
                </a>
              </li>
            </ul>
          </div>
        </div>
        <img class="p-sdgsContent__img" src="/img/images/sdgs-4.png" alt="">
      </div>
    </div>
  </section>
</div>
