.m-listSquare {
  display: inline-flex;
  width: 12px;
  height: 12px;

  &__left {
    background-color: #e90b18;
    width: 6px;
    height: 12px;
    display: inline-block;
  }

  &__right {
    background-color: var(--color_vivid_purple);
    width: 6px;
    height: 12px;
    display: inline-block;
  }
}
